<!DOCTYPE html> 
<html> 
    <head> 
        <title>수업 소개</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="wrapper">
            <header th:replace="common/header"></header>
			<div id="excercise_main" class="col-12">
				<div class="col-12 mw-1200 col-center h-100 show-table">
					<div class="col-12 pr15 pl15 h-100 show-tablecell vm tc fn">
						<div class="col-4">
							<a class="col-12" href="">
								<div class="col-12 h-100">
									<img src="../img/check_ex.jpg" alt="">
								</div>
								<div class="">
									측정 결과 등록
								</div>
							</a>
						</div>
						
						<div class="col-4">
							<a class="col-12" href="">
								<div class="col-12 h-100">
									<img src="../img/write.jpg" alt="">
								</div>
								<div class="" >
									일지 작성
								</div>
							</a>
						</div>
		
						<div class="col-4">
							<a class="col-12" href="">
								<div class="col-12 h-100">
									<img src="../img/check.jpg" alt="">
								</div>
								<div class="">
									일지 확인
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
            <footer th:replace="common/footer"></footer>
        </div>

    </body>

</html>