<!DOCTYPE html>
<html xmlns:th="">
    <head> 
        <title>수업 소개</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>
            
            <div class="col-12 sub_main login_wrap" style="background-image: url('img/login_img.jpg')">
            	<div class="login_dim"></div>
            	<div class="col-12 login-form">
				    <form id="login">
					    <div class="col-12 col-center mw-768">
					   		<div class="col-12 login_title mb30">
						    	로그인
						    </div>
					    	
					    	<div class="col-12 input_wrap">
						    	<div class="col-12 mb20">
							   		<input type="text" name="email" class="login_input" placeholder="아이디" id="id">
							    </div>
							    <div class="col-12 mb20">
							    	<input type="password" name="password" class="login_input" placeholder="비밀번호" id="pass">
							    </div>
					    	</div>
					    	
					    	<div class="col-12 mb20">
	 					    	<div class="login_submit">
							    	<div class="login_submit_style" style="display:block" id="loginBtn">
							        	로그인
							        </div>
							    </div>
					    	</div>
							<div class="col-12 fontsize16" style="color:white">
						      <a href="#">비밀번호를 잊어버리셨나요?</a>
						    </div>

					    </div>
				    </form>
				 </div>
            </div>
        </div>
    </body>
    <script>

		$(document).keydown(function(key) {
			if (key.keyCode === 13) {
				login();
			}
		});
    	$("#loginBtn").on("click", function(){
			login();
    	});

		function login() {
			var id = $("#id").val();
			var pass = $("#pass").val();
			if(id === "" || pass === "") {
				alert("아이디 및 비밀번호를 입력해주세요.")
			} else {
				$.ajax({
					url : "/signIn",
					dataType: "json",
					method : "post",
					async: false,
					data: {loginId : id, loginPassword: pass},
					success: function(result){
						if(result === 1) {
							location.href="/";
						} else {
							alert("아이디 및 비밀번호를 확인해주세요.");
						}
					}
				});
			}
		}
    </script>
</html>