<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>회원가입</title>
    <head th:replace="common/sub/head"></head>
</head>
<body>
<div class="col-12 wrapper">
    <header th:replace="common/header"></header>

    <div class="col-12 sub_main login_wrap" style="background-image: url('img/water.jpg'); height: 100vh;">
        <div class="login_dim"></div>
        <div class="col-12  mw-768 col-center h-100">
            <div class="col-12 reg_form" style="display: flex; align-items: center; justify-content: center;">
                <div class="pt99 pb99">
                    <div class="fontsize80 lineheight90 mb30 point_white mb30">
                        환영합니다<br>
                    </div>

                    <div class="mb50">
                        <div class="fontsize30 lineheight40 point_white" style="display:inline-block;">
                            가입이 완료 되었습니다.
                        </div>
                    </div>

                    <div class="login_submit">
                        <a  href="/sign_in" class="login_submit_style" style="display:block" id="regBtn">
                            로그인
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>