<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>근력학교</title>
    <head th:replace="common/main/head"></head>
    <meta name="naver-site-verification" content="cb267c84e066feb70b0727c3a82f8d8c9afc9692" />
    <meta name="google-site-verification" content="e8WYpV-R1PsSE1PtPR5IjdpaWfH-u6_kdLcgDXJx2HY" />
</head>
<body>
    <h3 style="font-size: 30px; margin-bottom: 30px;">
        수강 신청하러 가기
    </h3>
    <a href="https://smartstore.naver.com/strengthschool" style="display: block; width: 100%; height: 100%;" target="_blank">
        <div style="background-image: url('img/popup-img.png'); background-size: contain; width: 100%; height: 500px; background-repeat: no-repeat">

        </div>
    </a>
</body>
</html>