<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link th:href="@{../calendar/defualt/core/main.css}" rel='stylesheet' />
<link th:href="@{../calendar/defualt/daygrid/main.css}" rel='stylesheet' />
<link th:href="@{../calendar/defualt/timegrid/main.css}" rel='stylesheet' />

<script th:src="@{../calendar/defualt/core/main.js}"></script>
<script th:src="@{../calendar/defualt/interaction/main.js}"></script>
<script th:src="@{../calendar/defualt/daygrid/main.js}"></script>
<script th:src="@{../calendar/defualt/timegrid/main.js}"></script>

<script th:src="@{../calendar/customize/customize.js}"></script>
<link th:href="@{../calendar/customize/customize.css}" rel='stylesheet' />

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>

<body>
  <div id='calendar'></div>
</body>




</html>