<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <head th:replace="common/admin/admin_head"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:replace="common/admin/admin_gnb"></div>
<div class="col-12 right_body" style="padding-top:100px;">
    <div class="col-12 inner_con">
        <div class="col-12 mb50 step_title">
            수강생 상세 정보
        </div>
        <div class="col-12 col-center mw-768">
            <div class="detail_table mb50">
                <th:block th:object="${courseStudent}">
	               <table style="width: 100%;">
	                   <colgroup>
	                       <col width="25%" />
	                       <col width="20%" />
	                       <col width="20%" />
	                       <col width="35%" />
	                   </colgroup>
	                   <tbody>

	                   <tr>
	                       <th>이름</th>
	                       <td th:text="${courseStudent.name}"></td>

	                       <th>아이디</th>
	                       <td th:text="${courseStudent.member_id}"></td>
	                   </tr>
	                   
	                   <tr>
	                       <th>시작일</th>
	                       <td th:text="${courseStudent.start_date}"></td>

						   <th>종료일</th>
	                       <td th:text="${courseStudent.end_date}"></td>
	                   </tr>

					   <th:block th:if="${courseStudent.payment_yn} == 0">
						   <tr>
							   <th>결제 여부</th>
							   <td th:if="${courseStudent.payment_yn} == 0">
									   미결제
							   </td>

							   <th>결제 여부</th>
							   <td>
								   <select id="priceType">
									   <option value="1">카드</option>
									   <option value="2">계좌</option>
									   <option value="3">카드+탈잉</option>
									   <option value="4">계좌+탈잉</option>
								   </select>
								   <button class="ml20" id="changePayment">결제 상태 변경</button>
							   </td>
						   </tr>
					   </th:block>

					   <th:block th:if="${courseStudent.payment_yn} == 1">
						   <tr>
							   <th>결제 여부</th>
							   <td>
								   <span class="">결제 : </span>
								   <span th:text="${courseStudent.price_date}"></span>
							   </td>

							   <th>결제 유형</th>
							   <td>
								   <select disabled>
									   <option th:selected="${courseStudent.price_type} == 1">카드</option>
									   <option th:selected="${courseStudent.price_type} == 2">계좌</option>
									   <option th:selected="${courseStudent.price_type} == 3">카드+탈잉</option>
									   <option th:selected="${courseStudent.price_type} == 4">계좌+탈잉</option>
								   </select>
							   </td>
						   </tr>
					   </th:block>


	                   <tr>
						   <th>학년</th>
						   <td colspan="3">
							   <select id="grade">
								   <option value="1" th:selected="${courseStudent.grade} == 1">1학년</option>
								   <option value="2" th:selected="${courseStudent.grade} == 2">2학년</option>
								   <option value="3" th:selected="${courseStudent.grade} == 3">3학년</option>
								   <option value="4" th:selected="${courseStudent.grade} == 4">4학년</option>
								   <option value="5" th:selected="${courseStudent.grade} == 5">대학원생1</option>
								   <option value="6" th:selected="${courseStudent.grade} == 6">대학원생2</option>
								   <option value="7" th:selected="${courseStudent.grade} == 7">대학원생3</option>
								   <option value="8" th:selected="${courseStudent.grade} == 8">졸</option>
							   </select>
							   <button class="ml20" id="changeGrade">학년 변경</button>
						   </td>
	                   </tr>

	                   <tr>
	                       <th>delay 사용 여부</th>
	                       <td>
	                       		<th:block th:if="${courseStudent.is_delay == 0}" id="delayYn">
	                       			미사용
	                       		</th:block>
	                       		
	                       		<th:block th:if="${courseStudent.is_delay == 1}" id="delayYn">
	                       			사용
	                       		</th:block>
	                       </td>
	                       <th>지점</th>
	                       <td  class="branch" th:text="${courseStudent.branch}"></td>
						   <input type="hidden" th:value="${courseStudent.branch}" id="insertBranch">
						   <script>
							   $(".branch").each(function () {
								   if ( $(this).text() == 1 ) {
									   $(this).text("안암점")
								   } else {
									   $(this).text("한양대점")
								   }
							   })
						   </script>
	                   </tr>
	                   <tr>
	                       <th>주횟수</th>
	                       <td id="times" th:text="${courseStudent.times_week}"></td>
	                       <th>운동 요일 및 시간</th>
	                       <td th:text="${courseStudent.alias_list_full_name}"></td>
	                   </tr>
	                   <tr>
	                       <th>	수강 일수<br>
	                       		<span id="allShowCourse">(모두 보기)</span>
	                       </th>
	                       <td colspan="3">
	                           <div class="col-12 pt20 pb20">
	                           	<th:block th:each="courseList : ${courseList}" th:object="${courseList}">
	                           		<div class="time_list">
										<span class="date" th:text="${courseList.ex_date}"></span>
										<span class="day"></span>
	                           		</div>
	                           	</th:block>
	                           </div>
	                       </td>
	                   </tr>
	                   </tbody>
	               </table>
	        	</th:block>
            </div>
			<script>
				$(function () {
					$(".date").each(function () {
						var day = $(this).text();
						var today = dateForm(new Date());
						var date = new Date(day.split("-")[0], (day.split("-")[1]-1) , day.split("-")[2]).getDay();
						var text = "(" +korDay(date) +")";
						$(this).siblings().text(text);
						if(dateToInt(day) < dateToInt(today)) {
							$(this).parent().hide();
						}
					});
				})
			</script>

            <div class="col-12">
                <div class="col-12 tc">
                    <div class="serch_btn_con mr10" id="extenBtn">
                        <div class="serch_btn">
                            수동 연장
                        </div>
                    </div>
                    
                    <div class="serch_btn_con mr10" id="autoExtenBtn">
                        <div class="serch_btn">
                            자동 연장
                        </div>
                    </div>
                    
                    <div class="serch_btn_con mr10" id="delayBtn">
                        <div class="serch_btn">
                            미루기
                        </div>
                    </div>

<!--					<div class="serch_btn_con mr10">-->
<!--						<div class="serch_btn">-->
<!--							<a href="/admin/view_student">-->
<!--								뒤로가기-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="serch_btn_con">-->
<!--						<div class="serch_btn" id="delStu">-->
<!--							삭제 하기-->
<!--						</div>-->
<!--					</div>-->
                </div>
            </div>
        </div>

    </div>
</div>

<input th:value="${courseStudent.member_seq}" class="hidden" id="memberSeq">
<input th:value="${courseStudent.branch}" class="hidden" id="branch"/>
<!--     
    <div class="col-12">
    	<input type="text" id="test">test</button>
    </div>	
 -->
<script>
	$(function(){
		//삭제 버튼 클릭 시
		$("#delStu").on("click", function() {
			var memberSeq = $("#memberSeq").val();
			var priceType = $("#priceType").val();
			$.ajax({
				data : {memberSeq : memberSeq, priceType : priceType},
				url : '/admin/delStu',
				success : function(result){
					if(result == 1) {
						alert("삭제에 성공하였습니다.");
						location.href = "/admin/view_student";
					} else {
						alert("삭제에 실패 하였습니다.");
					}
				}
			})			
		})
		
		//미루기 버튼 클릭 시
		$("#delayBtn").on("click", function(){
			var delayYn = $("#delayYn").text();
			if(confirm("미루기를 사용 하시겠습니까?") ) {
				var memberSeq = $("#memberSeq").val();
				var branch = $('#branch').val();
				$.ajax({
					data : {memberSeq : memberSeq, delayNum : 1, branch: branch },
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					url : '/couseMaster/delayCourse'
					, beforeSend: function () {
						Progress.on();
					},
					success : function(result){
						if(result == 1) {
							Progress.off("미루기 완료");
						} else {
							Progress.off("오류 발생 관리자에게 문의 하세요.");
						}
					}
				})
			}
		});
		
		$("#extenBtn").on("click", function() {
			if( confirm("연장 페이지로 이동 하시겠습니까?") ) {
				var memberSeq = $("#memberSeq").val();
				var branch = $("#insertBranch").val();
				location.href = "/admin/extendCourse?memberSeq="+memberSeq+"&branch="+branch;
			}
		})

		//자동연장 클릭 시
		$("#autoExtenBtn").on("click", function(){
			var delayYn = $("#delayYn").text();
			var memberSeq = $("#memberSeq").val();
			var delayNum = ($("#times").text()*1)*4;
			var branch = $('#branch').val();
			console.log(delayNum);
			if(confirm("자동연장 사용 하시겠습니까?") ) {
				$.ajax({
					data : {memberSeq : memberSeq, delayNum : delayNum, branch: branch},
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					url : '/couseMaster/delayCourse'
					, beforeSend: function () {
						Progress.on();
					},
					success : function(result){
						if(result == 1) {
							Progress.off("자동연장 완료");
						} else {
							Progress.off("오류 발생 관리자에게 문의 하세요.");
						}
					}
				})
			}
		});
		//모두 보기 버튼
		$("#allShowCourse").on("click", function(){
			$(".time_list").show();
		});

		$("#changePayment").on("click", function () {
			var memberSeq = $("#memberSeq").val();
			var priceType = $("#priceType").val();
			if( confirm("오늘 날짜로 결제일이 설정 됩니다. 변경 하시겠습니까?") ) {
				$.ajax({
					data : {memberSeq : memberSeq, priceType : priceType },
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					url : '/couseMaster/changePayment'
					, beforeSend: function () {
						Progress.on();
					},success : function(result){
						if(result == 1) {
							Progress.off("변경 완료");
						} else {
							Progress.off("오류 발생 관리자에게 문의 하세요.");
						}
					}
				})
			}
		});


		$("#changeGrade").on("click", function () {
			var memberSeq = $("#memberSeq").val();
			var grade = $("#grade").val();
			if( confirm("오늘 날짜로 결제일이 설정 됩니다. 변경 하시겠습니까?") ) {
				$.ajax({
					data : {memberSeq : memberSeq, grade : grade },
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					url : '/couseMaster/changeGrade'
					, beforeSend: function () {
						Progress.on();
					},success : function(result){
						if(result == 1) {
							Progress.off("변경 완료");
						} else {
							Progress.off("오류 발생 관리자에게 문의 하세요.");
						}
					}
				})
			}
		});

	});


	$('[href="/admin/view_student"]').parent().addClass("active");
</script>
</body>
</html>