<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <head th:replace="common/admin/admin_head"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="common/admin/admin_gnb"></div>

<div class="col-12 right_body">
	<div class="col-12 inner_con">
		<div class="col-12 mb30 step_title">
	        	수강생 현황
		</div>
		
<!--        <div class="col-12 mb30">-->
<!--            <table class="col-12 filter_table mb30">-->
<!--                <colgroup>-->
<!--                    <col width = "10%">-->
<!--                    <col width = "auto">-->
<!--                </colgroup>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th class="left">이름</td>-->
<!--                    <td>-->
<!--                        <div class="input_style1_con">-->
<!--                            <input type="text">-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th class="left">지점</td>-->
<!--                    <td>-->
<!--                        <div class="select_style1_con">-->
<!--                            <select name="" id="">-->
<!--                                <option value="">전체</option>-->
<!--                                <option value="1">안암점</option>-->
<!--                                <option value="2">한양대점</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--            <div class="col-12 tc">-->
<!--                <div class="serch_btn_con">-->
<!--                    <div class="serch_btn">-->
<!--                        검색-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


		<div class="col-12">
			<div class="col-12">
				<table class="table_style_3 mb30" id="stdent_table">
					<thead>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>시작일</th>
							<th>종료일</th>
							
							<th>주 횟수</th>
							<th>Delay 사용 여부</th>
							<th>지점</th>
							<th>결제 여부</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="courseStudentList : ${courseStudentList}" th:object="${courseStudentList}">
							<th:block th:if="${not #strings.isEmpty(courseStudentList)}">
								<td th:text="${courseStudentList.NO}"></td>
								<td th:text="${courseStudentList.NAME}"></td>
								<td th:text="${courseStudentList.START_DATE}"></td>
								<td th:text="${courseStudentList.END_DATE}"></td>


								<td th:text="${courseStudentList.TIMES_WEEK} + '' + ${courseStudentList.ALIAS_LIST_FULL_NAME}"></td>
								<td th:if="${courseStudentList.IS_DELAY} == 0">
									Delay 미사용
								</td>
								<td th:unless="${courseStudentList.IS_DELAY} == 0">
								 	Delay 사용
								</td>
								<td th:if="${courseStudentList.BRANCH} == 1">
									안암점
								</td>
								<td th:if="${courseStudentList.BRANCH} == 2">
									한양대점
								</td>
								<td class="member_seq hidden" th:text="${courseStudentList.MEMBER_SEQ}"></td>
								<td th:if="${courseStudentList.PAYMENT_YN} == 0">
									미결제
								</td>

								<td th:if="${courseStudentList.PAYMENT_YN} == 1">
									결제
								</td>
							</th:block>
						</tr>
					</tbody>
				</table>	
				
				<div class="col-12 paging_con">
					<div class="before_btn">
						<a th:href="@{/admin/admin_view_course_student(currentPage=${pagingInfo.prev})}">
							이전
						</a>
					</div>

					<div class="paging">
						<th:block th:each="num: ${#numbers.sequence( {pagingInfo.firstPage}, {pagingInfo.lastPage})}">
							<th:block th:if= "${num} == ${currentPage}">
								<a class="paging_cnt current" th:text="${num}" th:href="@{/admin/admin_view_course_student(currentPage=${num} ) }">
								</a>
							</th:block>
							
							<th:block th:unless= "${num} == ${currentPage}">
								<a class="paging_cnt" th:text="${num}" th:href="@{/admin/admin_view_course_student(currentPage=${num} ) }">
								</a>
							</th:block>
							
						</th:block>
					</div>
					
					<div class="next_btn">
						<a th:href="@{/admin/admin_view_course_student(currentPage=${pagingInfo.next})}">
							다음
						</a>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	
	<div class="step_btn_con right">
    	<a class="step_btn left go_step2" href="/admin/reg_student" style="display:block">
        	추가하기
        </a>
    </div>

<!--     
    <div class="col-12">
    	<input type="text" id="test">test</button>
    </div>	
 -->
</div>
<script>
	$(function(){
		$("#test").addClass("test");
		$("#test").on("click", function(){
		});
		
		$("#stdent_table tbody tr").on("click", function(){
			var memberSeq = $(this).find(".member_seq").text();
			location.href = "/admin/detail_student?memberSeq="+memberSeq;
		})
	});

	$('[href="/admin/view_student"]').parent().addClass("active");


</script>
</body>
</html>