<!DOCTYPE html>
<html xmlns:th="">
    <head> 
        <title>선생님 소개</title>
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>

            <div class="sub_main col-12">
                <div class="col-12 sub_visual_back" style="background-image: url('img/wave.jpg');">
                    <div class="col-12 sub_dim"></div>
                    <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
                        <div class="col-12 h-100 fn show-table">
                            <div class="col-12 fn show-tablecell vm tl">
                                <div class="col-12">
                                    <div class="col-12 sub_text pb10 pt30 bold">
                                        선생님 소개
                                    </div>
                                    <div class="col-12 sub_content">
                                        <span class="bold">최고의 선생님들을 소개 합니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 sub-content">
                    <div class="lnb">
                        <div class="lnb-title">
                            지점
                        </div>
                        <ul>
                            <li class="tab active kor">
                                본점
                            </li>
                            <li class="tab han">
                                한양대점
                            </li>
                        </ul>
                    </div>

                    <div class="inner-content">
                        <div class="section col-12 intro_teacher_con h-100">
                            <div class="col-12 col-center tc over-hidden">
                                <div class="col-12 pr15 pl15">
                                    <div class="col-12">
                                        <h3 class="title_font_3 mb30" >
                                            선생님 소개
                                        </h3>
                                    </div>
                                    <div class="col-12 mb77">
                                        <div class="sub_title_font_2">
                                            <span class="point_color">최고의 </span> 선생님들을 소개 합니다.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="col-12 swiper-container slide_img_con kor-content">
                                            <div class="col-12 swiper-wrapper">
                                                <div class="col-12 swiper-slide">
                                                    <div class="col-12 mb40 teacher_img_con">
                                                        <img class="op" src="img/people1.jpg" alt="">
                                                    </div>
                                                    <div class="col-12 mb30">
                                                        <div class="sub_title_font_1 fontweight700" style="">
                                                            백승덕 선생님
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="desc_font_1 fontweight700" style="">
                                                            SFG lv.2(케틀벨), SFL(파워리프팅)<br>
                                                            IPF Korea Powerlifting 2급<br>
                                                            Plan Strong 스트렝스 프로그램 디자인 교육 과정 수료<br>
                                                            생활스포츠지도사 자격<br>
                                                            BTS 밸런스 트레이닝 72시간 교육 과정 수료 <br>
                                                            MIRT 마사지 교육 수료 <br>
                                                            FMS lv.1 ,GFM lv.1 <br>Flexible Steel lv.1
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 swiper-container slide_img_con2 han-content">
                                            <div class="col-12 swiper-wrapper">

                                                <div class="col-12 swiper-slide">
                                                    <div class="col-12 mb40 teacher_img_con">
                                                        <img class="op" src="img/eee.jpg" alt="">
                                                    </div>
                                                    <div class="col-12 mb30">
                                                        <div class="sub_title_font_1" style=" font-weight:bold;">
                                                            이영권 선생님
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="desc_font_1" style="font-weight:bold;">
                                                            - 자격사항<br>
                                                            Btsa 19기 수료<br>
                                                            Ipf 2급자격 수료<br>
                                                            Sfl<br>
                                                            <br>
                                                            경력사항<br>
                                                            (2013-2014) 제이피트니스pt근무<br>
                                                            (2017-2019) 레이휘트니스 재활트레이너 근무<br>
                                                            <br>
                                                            - 수상내역<br>
                                                            2018 Wpc 코리아 1위<br>
                                                            2019 ipf 1위<br>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 swiper-slide">
                                                    <div class="col-12 mb40 teacher_img_con">
                                                        <img class="op" src="img/person1.jpg" alt="">
                                                    </div>
                                                    <div class="col-12 mb30">
                                                        <div class="sub_title_font_1" style=" font-weight:bold;">
                                                            한상엽 선생님
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="desc_font_1" style="font-weight:bold;">
                                                            - 자격사항<br>
                                                            스포츠지도사 2급 보디빌딩<br>
                                                            국민대스포츠산업대학원 석사과정<br>
                                                            (운동처방 건강운동관리전공)<br>
                                                            BTSA 교육과정 수료 12기<br>
                                                            <br>
                                                            경력사항<br>
                                                            17-18 팀윤짐 창원점 주임 근무<br>
                                                            18-19 경기대평생교육원 체육복지학과 조교<br>
                                                            19-20 프리랜서 트레이너<br>
                                                            19- BTSA 실기조교<br>
                                                            <br>
                                                            수상내역<br>
                                                            17.04.01 니카코리아 보디빌딩 -70kg 4위<br>
                                                            17.05.21 키스포츠페스티벌 보디빌딩-70kg 2위<br>
                                                            19.10.26 MR시흥선발대회 클래식보디빌딩-178cm 2위<br>
                                                            19.11.10 MR파주 클래식보디빌딩 -177 2위<br>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="intro_teacher_con_dim"></div>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="common/footer"></footer>
        </div>
    </body>
</html>

<script>
    $('[href="/intro_teacher"]').parent().addClass("active");
    $(function () {
        $(".han-content").css("opacity" ,"0");
        $(".han-content").css("height" ,"0");
        $(".tab").on("click", function () {
            var _this = $(this);
            $(".tab").removeClass("active");
            _this.addClass("active");
            if(_this.hasClass("kor")) {
                $(".kor-content").css("opacity" ,"1");
                $(".kor-content").css("height" ,"auto");
                $(".han-content").css("opacity" ,"0");
                $(".han-content").css("height" ,"0");
            } else {
                $(".kor-content").css("opacity" ,"0");
                $(".kor-content").css("height" ,"0");
                $(".han-content").css("opacity" ,"1");
                $(".han-content").css("height" ,"auto");
            }
        })
    })

</script>