<!DOCTYPE html> 
<html> 
    <head> 
        <title>수업 소개</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="wrapper">
            <header th:replace="common/header"></header>
            <div class="col-12 sub_visual_con" style="background-image:url('img/sub_visual2.png')">
                <div class="col-12 mw-1200 col-center h-100 show-table ">
                    <div class="col-12 pr15 pl15 vm show-tablecell fn">
                        <div class="title point_color">
                           	 강사 소개
                        </div>
                        <div class="content">
                            8월 <극>성수기를 맞아 완판된 ⭐근력학교⭐
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                
                </div>
            </div>
            
            
            
            
            <footer th:replace="common/footer"></footer>
        </div>

    </body>

</html>