<!DOCTYPE html>
<html xmlns:th="">
    <head> 
        <title>수업 소개</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>

            <div class="sub_main col-12">
                <div class="col-12 sub_visual_back" style="background-image: url('img/menu.jpg');">
                    <div class="col-12 sub_dim"></div>
                    <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
                        <div class="col-12 h-100 fn show-table">
                            <div class="col-12 fn show-tablecell vm tl">
                                <div class="col-12">
                                    <div class="col-12 sub_text pb10 pt90 bold">
                                        수업 소개
                                    </div>
                                    <div class="col-12 sub_content">
                                        <span class="point_color bold">당신은 헬스를 모른다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="col-12 mw-1200 col-center content_con">
                        <div class="col-12 pr15 pl15">
                            <div class="section col-12 intro_teacher_con h-100" style="background-image:url('img/side_img.jpg')">
                                <div class="col-12 col-center tc over-hidden visual_block_010_content_002">
                                    <div class="col-12 pr15 pl15">
                                        <div class="col-12">
                                            <h3 class="title_font_3 mb30" style="color: #fff;">
                                                선생님 소개
                                            </h3>
                                        </div>
                                        <div class="col-12 mb77">
                                            <div class="sub_title_font_2" style="color: #fff;">
                                                <span class="point_color">최고의 </span> 선생님들을 소개 합니다.
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="col-12 swiper-container slide_img_con">
                                                <div class="col-12 swiper-wrapper">
                                                    <div class="col-12 swiper-slide">
                                                        <div class="col-12 mb40 teacher_img_con">
                                                            <img class="op" src="img/person1.jpg" alt="">
                                                        </div>
                                                        <div class="col-12 mb30">
                                                            <div class="sub_title_font_1" style="color: #fff; font-weight:bold;">
                                                                교장 박영하
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="desc_font_1" style="color: #fff; font-weight:bold;">
                                                                고려대학교 지리교육과 졸업<br>
                                                                * IPF Korea Powerlifting 2급<br>
                                                                * 탈잉 프리랜서 트레이너 : 2017년 베스트 수업 선정<br>
                                                                * 근력학교 코치 2019년 1월 ~<br>
                                                                * 2019 IPF Korea IKAN 컵 파워리프팅 대회 -105급 동메달<br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 swiper-slide">
                                                        <div class="col-12 mb40 teacher_img_con">
                                                            <img class="op" src="img/people1.jpg" alt="">
                                                        </div>
                                                        <div class="col-12 mb30">
                                                            <div class="sub_title_font_1 fontweight700" style="color: #fff;">
                                                                관장 백승덕
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="desc_font_1 fontweight700" style="color: #fff;">
                                                                고려대학교 지리교육과<br>
                                                                * Flexible Steel Level 1 Instructor Certification<br>
                                                                * IPF(International Powerlifting Federation) Class 2 Instructor Certification
                                                                등<br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="intro_teacher_con_dim"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="common/footer"></footer>
        </div>
    </body>
</html>