<meta http-equiv="X-UA-Compatible" content="IE=edge" xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 공통css -->
<link rel="stylesheet" type="text/css" th:href="@{../css/common_helve.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/common_style.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/common.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/footer.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/header.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{../css/theme.layout.main.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/Responsive.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/swiper.min.css}" /> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- 달력 css -->
<link th:href="@{../js/calendar/defualt/core/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/defualt/daygrid/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/defualt/timegrid/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/customize/customize.css}" rel='stylesheet' />

<!-- 공통script -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{../js/swiper/swiper.min.js}"></script>
<script th:src="@{../js/common/rollingEvent.js}"></script>
<script th:src="@{../js/common/common.js}"></script>
<script th:src="@{../js/admin/admin.js}"></script>

<!-- 달력js -->
<script th:src="@{../js/calendar/defualt/core/main.js}"></script>
<script th:src="@{../js/calendar/defualt/interaction/main.js}"></script>
<script th:src="@{../js/calendar/defualt/daygrid/main.js}"></script>
<script th:src="@{../js/calendar/defualt/timegrid/main.js}"></script>
<script th:src="@{../js/calendar/regJs/regSchedule.js}"></script>
<script th:src="@{../js/calendar/customize/customize.js}"></script>

<!-- 운동js -->
<script th:src=@{../js/excercise/excercise.js}></script>

<link rel="apple-touch-icon" sizes="57x57" href="/fabi/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/fabi/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/fabi/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/fabi/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/fabi/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/fabi/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/fabi/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/fabi/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/fabi/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/fabi/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fabi/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/fabi/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fabi/favicon-16x16.png">
<link rel="manifest" href="/fabi/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">