<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="left_gnb">
    <div class="inner_box">
        <a href="/admin/index" class="logo mb30">
            <img src="../img/main_logo.png" alt="">
        </a>

        <ul class="col-12 adm_menu">
            <li>
                 <a href="/admin/veiw_member">회원 관리</a>
            </li>
            
            <li>
                <a href="/admin/view_student">수강생 관리</a>
            </li>
            
            <li>
                <a href="/holiday_list">휴일 관리(제작 중)</a>
            </li>
            
            <li>
                <a href="">
                    	강좌 관리(제작 중)
                </a>
            </li>
            
            <li>
                <a href="">통계(제작 중)</a>
            </li>
            
            <li>
                <a href="/">메인으로</a>
            </li>
        </ul>
    </div>
</div>

<script>

	function goPage(that, page) {
		console.log($(that))
		$(that).addClass("active");
	}

</script>

</body>
</html>