<!DOCTYPE html>
<html xmlns:th="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <head th:replace="common/admin/admin_head"></head>
</head>
<body>
<div th:replace="common/admin/admin_gnb"></div>
<div class="col-12 right_body">
	<input type="hidden" name="dayList" id="dayList">
	<input type="hidden" name="aliasList" id="aliasList">
	<div class="col-12 inner_con second" id="second_con">

		<div class="col-12 mb30 step_title">
			강좌 관리
		</div>

		<div class="col-12 tab_con">
				<span th:th:if = "${branch} == 1">
					<div class="col-6 tab active" id="branchAn">안암점</div>
					<div class="col-6 tab" id="branchHan">한양대점</div>
				</span>

			<span th:th:if = "${branch} == 2">
					<div class="col-6 tab" id="branchAn">안암점</div>
					<div class="col-6 tab active" id="branchHan">한양대점</div>
				</span>
		</div>
		<div class="col-12 time_con">
			<div id="beforeWeek">이전</div>
			<span class="mb30 over-hidden">
		    		<span id="today"></span>
                </span>
			<div id="nextWeek">다음</div>
		</div>
		<span th:th:if = "${branch} == 1">
				<div class="col-12 form_con">
				<div class="table_con">
					<table class="table_style_3" id="courseTimeTable">
						<colgroup>
						</colgroup>
						<col width="20%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<thead></thead>
						<tbody>

						<tr>
							<th>10:00 ~ 11:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 10">
	                       	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>

								   <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									   <span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								   </span>

								   <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									   <span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								   </span>
								   <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
							   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

							</td>
						</tr>

						<tr>
							<th>12:00 ~ 13:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 12">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>15:00 ~ 17:00</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 15">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>18:00 ~ 19:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 18">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>20:00 ~ 21:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 20">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>22:00 ~ 23:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 22">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
									 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									 </span>
									 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									 </span>
									 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
			</span>
		<span th:th:if = "${branch} == 2">
				<div class="col-12 form_con">
				<div class="table_con">
					<table class="table_style_3" id="courseTimeTable">
						<colgroup>
						</colgroup>
						<col width="20%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<thead></thead>
						<tbody>

						<tr>
							<th>09:00 ~ 10:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 9">

	                       	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>11:00 ~ 12:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 11">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								 	</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								 	</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>14:00 ~ 15:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 14">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span><span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>16:00 ~ 17:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 16">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
								<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
																<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>18:00 ~ 19:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 18">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
								<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
																<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>20:00 ~ 21:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 20">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>
								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>22:00 ~ 23:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
								th:if="${courseRegNumList.course_start_time} == 22">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>
								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
			</span>
	</div>
</div>

<form id="reload">
	<input type="hidden" name="standardDate">
	<input type="hidden" th:value="${branch}" name="branch" id="branchVal">
</form>

<input id="todayString" type="hidden" th:value = "${today}">

<th:block>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var courseNumList = [[${courseNumList}]];
	/*]]>*/
	$(function(){
		$("#second_con").css("right","0%");
	    var currentDay = $("#todayString").val();
		var setStartDate = today(currentDay);
		var setEndDate;
		//월요일일 떄
		if(setStartDate.getDay() == 1) {
			setStartDate = today(currentDay);
			setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
		//일요일 일 때 
		} else if(setStartDate.getDay() == 0 ) {
			setStartDate = today(currentDay);
			setStartDate.setDate(setStartDate.getDate() + 1);
			setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
		//그 외
		} else {
			for(var i=1; i<7;i++) {
				if( ( setStartDate.getDay() - i) == 1  ) {
					setStartDate.setDate( (setStartDate.getDate()-i));
					setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
				} 
			}
		}
		
		var theadTd = "";
		var theadTdTotal = "";
		for(var i=0;i<5;i++) {
			var headDay = withDateNewForm(setStartDate);
			headDay.setDate( (headDay.getDate() + i ) );
			var kDay = korDay(headDay.getDay() );
			var fullDay = dateForm(headDay);
			if(fullDay == nowDay() ) {
				theadTd = "<td class='today'>" + kDay +"(" + fullDay + ")</td>";
				theadTdTotal = theadTdTotal + theadTd;
			} else {
				theadTd = "<td>" + kDay +"(" + fullDay + ")</td>";
				theadTdTotal = theadTdTotal + theadTd;
			}
		}
		theadTdTotal = "<tr><td>시간</td>" + theadTdTotal + "</tr>";
		$("#courseTimeTable thead").append(theadTdTotal);
		var week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
		$("#courseTimeTable thead").append();
		$("#today").text(week);
		
		$("#nextWeek").on("click",function() {
			setStartDate.setDate(setStartDate.getDate() + 7 );
			setEndDate.setDate(setEndDate.getDate() + 7);
			week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
			$("#reload").attr("action", "/admin/course_manage");
			$('[name="standardDate"]').val(dateForm(setStartDate));
			$("#reload").submit();
		})

		$("#branchAn").on("click",function() {
			$("#branchVal").val("1");
			setStartDate.setDate(setStartDate.getDate()  );
			setEndDate.setDate(setEndDate.getDate() );
			week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
			$("#reload").attr("action", "/admin/course_manage");
			$('[name="standardDate"]').val(dateForm(setStartDate));
			$("#reload").submit();
		})

		$("#branchHan").on("click",function() {
			$("#branchVal").val("2");
			setStartDate.setDate(setStartDate.getDate()  );
			setEndDate.setDate(setEndDate.getDate() );
			week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
			$("#reload").attr("action", "/admin/course_manage");
			$('[name="standardDate"]').val(dateForm(setStartDate));
			$("#reload").submit();
		})

		$("#beforeWeek").on("click",function(){
			setStartDate.setDate(setStartDate.getDate() - 7 );
			setEndDate.setDate(setEndDate.getDate() - 7);
			var week = dateForm(setStartDate) + "~" + dateForm(setEndDate); 
			$("#reload").attr("action", "/admin/course_manage");
			$('[name="standardDate"]').val(dateForm(setStartDate));
			$("#reload").submit();
		})

		$("#courseTimeTable tbody tr td").on("click", function() {
			var alias = $(this).find(".alias_num").text();
			console.log(alias);
			location.href="/admin/course_manage_detail?alias=" + alias;
		})
	})
	$('[href="/admin/course_manage"]').parent().addClass("active");
	</script>
</th:block>

</body>
</html>