<!DOCTYPE html>
<html xmlns:th="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <head th:replace="common/admin/admin_head"></head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
	<div th:replace="common/admin/admin_gnb"></div>
	<div class="col-12 right_body">
		<div class="col-12" style="padding:50px 50px 50px 0px;">
			<div class="col-12 mb30 step_title">
				휴일 관리
			</div>
			<div class="col-12">
				<div style="max-width: 900px; margin: 0 auto; padding: 30px; font-size:20px;">
					<span style="color:blue;">파랑색</span> 배경은 안암
					<br>
					<span style="color:red;">빨강색</span> 배경은 한양대 입니다.
				</div>
				<th:block>
					<div id='calendar'></div>
				</th:block>
			</div>
		</div>
	</div>

	<th:block>
	<script th:inline="javascript">
		$('[href="/holiday_list"]').parent().addClass("active");
		function calInit() {
			/*<![CDATA[*/
			var holidayList = [[${holidayList}]];
			/*]]>*/
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
				header: {
					left: 'prev',
					center: 'title',
					right: 'next'
				},
				views: {
					month: {
						columnFormat: 'dddd'
					},
					agendaWeek: {
						columnFormat: 'M/D ddd',
						titleFormat: 'YYYY년 M월 D일',
						eventLimit: false
					},
					agendaDay: {
						columnFormat: 'dddd',
						eventLimit: false
					},
					listWeek: {
						columnFormat: ''
					}
				},
				navLinks: true, // can click day/week names to navigate views
				selectable: true,
				selectMirror: true,
				select: function(arg) {
					var title = prompt('휴일 이름을 입력 하세요.');
					if (title) {
						var branch = prompt("지점을 입력하세요. 안암:1, 한양대:2");
						if(branch == 1 || branch == 2) {
							calendar.addEvent({
								title: title,
								start: arg.start,
								end: arg.end,
								allDay: arg.allDay
							});
							var startDay = new Date(arg.start);
							var endDay = new Date(arg.end);
							startDay = dateForm(startDay);
							endDay = dateForm( (moment([endDay.getFullYear(), endDay.getMonth(), endDay.getDate()]).subtract(1,"days"))._d );

							var event = { "title" : title,  "start" : startDay,  "end" : endDay, branch : branch};
							events.push(event);
							calendar.unselect();
							$.ajax({
								url:'/insertHoliday',
								dataType: "json",
								async: false,
								data : event
								, beforeSend: function () {
									Progress.on();
								},
								success: function(result){
									if(result == 1) {
										Progress.off("등록이 완료 되었습니다.");
									} else {
										Progress.off("등록이 오류");
									}
								}
							});
						}
					}
				},
				local : "kr",
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				eventSources: [],
				eventClick: function(info) { //만들어진 이벤트를 클릭 했을 시
					console.log( info.event.id);
					if( confirm("삭제 하시겠습니까?") ) {
						var seq = info.event.id;
						$.ajax({
							url:'/deleteHoliday',
							dataType: "json",
							async: false,
							data : {seq : seq}
							, beforeSend: function () {
								Progress.on();
							},
							success: function(result){
								if(result == 1) {
									Progress.off("삭제 완료 되었습니다.");
								} else {
									Progress.off("삭제 오류");
								}
							}
						});
					}
				},

				locale: 'ko',
				timezone: "local",
				nextDayThreshold: "09:00:00",
				allDaySlot: true,
				displayEventTime: true,
				displayEventEnd: true,
				firstDay: 1, //월요일이 먼저 오게 하려면 1
				weekNumbers: false,
				selectable: true,
				weekNumberCalculation: "ISO",
				eventLimit: true,
				views: {
					month: {
						eventLimit: 12
					}
				},
				eventLimitClick: 'week', //popover
				navLinks: true,
				timeFormat: 'HH:mm',
				defaultTimedEventDuration: '01:00:00',
				editable: true,
				minTime: '00:00:00',
				maxTime: '24:00:00',
				slotLabelFormat: 'HH:mm',
				weekends: true,
				nowIndicator: true,
				dayPopoverFormat: 'MM/DD dddd',
				longPressDelay: 0,
				eventLongPressDelay: 0,
				selectLongPressDelay: 0
			});
			var events = []
			var today = new Date();
			today.getFullYear();
			console.log(holidayList)
			for(var i=0; i < holidayList.length;i++) {
				var start = holidayList[i].START_DAY;
				var end = holidayList[i].END_DAY;
				var title = holidayList[i].HOLIDAY_NAME;
				var seq = holidayList[i].SEQ;
				var branch = holidayList[i].branch;
				var backgroundColor = "black";
				if( holidayList[i].IS_STATIC == 1) {
					start = today.getFullYear() + "-" + start;
					end = today.getFullYear() + "-" + end;
				}
				if(holidayList[i].branch == 1) {
					backgroundColor = "blue";
				} else {
					backgroundColor = "red";
				}
				var endPlus1 = newDateForm(end);
				endPlus1.setDate(endPlus1.getDate() + 1);
				endPlus1 = dateForm(endPlus1);
				var event = {"title" : title, "start" : start, "end": endPlus1, "backgroundColor" : backgroundColor, "id" : seq};
				events.push(event);
			}
			calendar.addEventSource(events);
			calendar.render();
		}

		$(function(){
			calInit();
		})
	</script>
	</th:block>
</body>
</html>