@charset "utf-8";

.mw-980{max-width: 980px;}
.point_color{color:#fef200}
/*.point_color{color:#ea9643}*/
.bold{font-weight: bold;}

.title_font{font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; font-weight: bold;}
.sub_back{background-color:#000; color:#fff; padding-top: 50px;}

.table_style1{color:white; font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;   font-weight: bold;  text-align: center; border:1px solid white; width: 100%;}
.table_style1 th {border:1px solid white;}
.table_style1 td {border:1px solid white; padding:5px 0px;}

.table_style1.type2 th {}

@media all and (min-width:992px){
    .table_style1{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem; }
    .table_style1 td {border:1px solid white; padding:10px;}
}