<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.course_master.dao.CourseMasterDao">
        
    <select id="selectCourseMaterList"  resultType="map">
        SELECT 
        	* 
        FROM 
        	COURSE_MASTER
    </select>
    
</mapper>
