<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.course_student.dao.CourseStudentDao">
   	<insert id="insertStudent">
		INSERT INTO 
			COURSE_STUDENT 
		(
			course_student_seq, 
			member_seq, 
			start_date, 
			end_date, 
			times_week, 
			is_delay,
			alias_list_full_name
		) 
		VALUES 
		(   IFNULL( (SELECT MAX(course_student_seq) + 1 FROM GENERATE_SEQ) , 1 )  ,  
			#{member_seq},
			#{start_date},
			#{end_date},
			#{times_week}, 
			0,
			#{alias_list_full_name}
		);
	</insert>
    
    <select id="selectCourseStudentList" resultType="map">
    	SELECT TBL.*
		FROM 
		(
    	SELECT
    		( SELECT COUNT(course_student_seq) FROM COURSE_STUDENT ) AS TOTAL_CNT, 
    		@ROWNUM:=@ROWNUM+1 AS NO,
    		M.NAME, M.MEMBER_SEQ, CS.START_DATE, CS.END_DATE, CS.TIMES_WEEK, CS.IS_DELAY, CS.ALIAS_LIST_FULL_NAME 
    	FROM 
    		(SELECT @ROWNUM:= 0 ) dummy, COURSE_STUDENT CS
		LEFT JOIN 
			MEMBER M ON M.MEMBER_SEQ = CS.MEMBER_SEQ
		) TBL
		 WHERE 
	 		(@ROWNUM:=0)=0	
	 	AND
	 	    NO BETWEEN ( ( ( #{current_page} - 1 ) * 10 ) + 1 ) AND ( ( ( #{current_page} - 1 ) * 10 ) + 10 )
    </select>
</mapper>
