<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.course_master.dao.CourseMasterDao">
        
    <select id="selectCourseMaterList"  resultType="map">
        SELECT 
        	course_time_name, max_people, week_of_day 
        FROM 
        	COURSE_MASTER
    </select>
    
    <select id="selectRegMemberNum" resultType="map">
	    SELECT
			 (SELECT COUNT(CS.MEMBER_SEQ) FROM COURSE_STUDENT CS) reg_member_num, CM.max_people,CM.is_use_yn,
			CM.couse_time_name, CM.course_start_time, CM.week_of_day
		FROM 
			COURSE_MASTER CM
		ORDER BY CM.week_of_day , CM.course_start_time 
    </select>
    <!-- 
    <select id="selectRegMemberList" resultType="map">
		SELECT 
			MEM.NAME,MEM.MEMBER_ID 
		FROM 
			COURSE_STUDENT CS
		LEFT JOIN MEMBER MEM ON (MEM.member_seq = CS.member_seq)
		WHERE 
			MASTER_SEQ = #{master_seq}
	</select>
	 -->
</mapper>
