<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.course_master.dao.CourseMasterDao">

    <select id="selectCourseMasterList" resultType = "map">
        SELECT 
        	*
        FROM 
        	COURSE_MASTER
        WHERE
        	1=1
        	<if test="_parameter != ''">
        		AND ALIAS_NUMBER = #{_parameter}
        	</if>
    </select>
    
    
    <select id="selectRegMemberList" resultType="map">
<!-- 	    
		SELECT
			 (SELECT COUNT(EX_DATE) FROM EXCERCISE_MASTER WHERE EX_ALIAS = A.EX_ALIAS) CURRENT_NUM, CM.max_people,CM.is_use_yn,
			CM.couse_time_name, CM.course_start_time, CM.week_of_day, CM.alias_number
		FROM 
			COURSE_MASTER CM
		ORDER BY CM.week_of_day , CM.course_start_time  
-->
	    
	    SELECT
			 DISTINCT 
			 (	SELECT 
			 		COUNT(MEMBER_SEQ) 
			 	FROM 
			 		EXCERCISE_MASTER 
			 	WHERE 
			 		EX_ALIAS = A.EX_ALIAS
			 			AND EX_DATE BETWEEN #{startDate} AND #{endDate}
			 ) CURRENT_NUM, 
			 CM.max_people,CM.is_use_yn, CM.couse_time_name, CM.course_start_time, CM.week_of_day, CM.alias_number
		FROM 
			COURSE_MASTER CM
		LEFT JOIN 
			EXCERCISE_MASTER A ON A.ex_alias = CM.alias_number AND A.EX_DATE BETWEEN #{startDate} AND #{endDate}
		ORDER BY 
			CM.week_of_day , CM.course_start_time 
    </select>

<!--     <select id="selectRegNumList" resultType="map">
		SELECT 
			DISTINCT EX_ALIAS, (SELECT COUNT(EX_DATE) FROM EXCERCISE_MASTER WHERE EX_ALIAS = A.EX_ALIAS) CURRENT_NUM
		FROM 
			EXCERCISE_MASTER A
		WHERE 
			1=1
			<if test="startDate != '' and  endDate != '' ">
			AND
				A.EX_DATE BETWEEN #{startDate} AND #{endDate};
			</if>
    </select>
     -->
    
    <!-- 
    <select id="selectRegMemberList" resultType="map">
		SELECT 
			MEM.NAME,MEM.MEMBER_ID 
		FROM 
			COURSE_STUDENT CS
		LEFT JOIN MEMBER MEM ON (MEM.member_seq = CS.member_seq)
		WHERE 
			MASTER_SEQ = #{master_seq}
	</select>
	 -->
	 
	 <insert id="insertCourse">
	 	INSERT
	 		INTO EXCERCISE_MASTER(member_seq, ex_alias, ex_date) 
	 	VALUES 
	 		(#{memberSeq}, #{exAlias}, #{exDate})
	 </insert>
	 
	 <select id="selectCourseList" parameterType="map" resultType="map">
	 	SELECT 
	 		* 
	 	FROM 
	 		EXCERCISE_MASTER 
	 	WHERE 
       		MEMBER_SEQ = #{memberSeq}
	 </select>
</mapper>
