<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.holiday.dao.HolidayDao">

	<select id="selectHolidayList" resultType="map" parameterType="map">
    	SELECT
    		*
    	FROM
    		USE_HOLIDAY
    	WHERE
    		1 = 1
    		<if test="branch != ''">
				and branch = #{branch}
			</if>

    </select>

	<insert id="insertHoliday">
		insert into USE_HOLIDAY
		(
			START_DAY, HOLIDAY_NAME, USE_YN, IS_STATIC, END_DAY, BRANCH
		)
		values
		(
			#{start}, #{title}, 1, 0, #{end}, #{branch}
		)
	</insert>

	<select id="getDeayMember" resultType="map">
		select * from COURSE_STUDENT
		left join MEMBER M on COURSE_STUDENT.member_seq = M.member_seq
		where #{start} between start_date and end_date
	</select>

	<delete id="deletetHoliday">
		delete from USE_HOLIDAY where seq = #{seq}
	</delete>
</mapper>
