<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.member.dao.MemberDao">
        
    <select id="selectMemberList" resultType="map">        	
         SELECT TBL.*
		 FROM 
		 (
			SELECT 
				@ROWNUM:=@ROWNUM+1 AS no, name,member_id,member_seq
			FROM (SELECT @ROWNUM:= 0 ) dummy, MEMBER
		 ) AS TBL
		 WHERE 
		 	(@ROWNUM:=0)=0
    </select>
    
</mapper>
