<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="muscle.school.muman.schedule.dao.ScheduleDao">
        
    <insert id="insertCourse" parameterType="map">
        INSERT INTO COURSE
        VALUES
        (
            (SELECT MAX(COURSE_SEQ) FROM COURSE AS SEQ ) + 1 ,
            #{start_date},
            #{end_date},
            #{title},
            #{contents},
            #{week},
            #{start_time},
            #{end_time}
        )
    </insert>
    
    <select id="SelectListCheckSchedule" parameterType="map" resultType="map">
    	SELECT * FROM COURSE
    </select>
</mapper>
