<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>수업 소개</title>
    <head th:replace="common/sub/head"></head>
</head>
<body>

<div class="col-12 wrapper">
    <header th:replace="common/header"></header>
    <div class="sub_main col-12">
        <div class="col-12 sub_visual_back type2" style="background-image: url('img/water2.jpg');"></div>

        <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
            <div class="col-12 mt50 mt50">
                <form action="/updateInfo">
                    <div class="col-12 mb50">
                        <div style="font-size: 35px; line-height: 40px; color:rgb(38,75,57); font-weight: bold;">
                            회원 정보
                        </div>
                    </div>

                    <div class="col-12 ex-item-con">
                        <div class="col-12 col-sm-6 ex-item">
                            <div class="ex-title fl">이름</div>
                            <div class="ex-desc  fl">
                                <div type="text" th:text="${memberInfo.name}"></div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 ex-item">
                            <div class="ex-title fl">아이디</div>
                            <div class="ex-desc  fl">
                                <div type="text" th:text="${memberInfo.member_id}"></div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 ex-item">
                            <div class="ex-title fl">휴대번호</div>
                            <div class="ex-desc  fl">
                                <input id="pnum" type="text" th:value="${memberInfo.pnum}" placeholder="- 빼고 입력해 주세요 ex)01099999999">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 ex-item">
                            <div class="ex-title fl">지점</div>
                            <div class="ex-desc  fl">
                                <div class="branch" type="text" th:text="${memberInfo.branch}"></div>
                            </div>
                            <script>
                                $(".branch").each(function () {
                                    if( $(this).text() == 1 ) {
                                        $(this).text("안암");
                                    } else {
                                        $(this).text("한양대");
                                    }
                                })
                            </script>
                        </div>

                        <div class="col-12 col-sm-6 ex-item no-border-web">
                            <div class="ex-title fl">가입일</div>
                            <div class="ex-desc  fl">
                                <p th:text="${memberInfo.reg_date}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 ex-item no-border">
                            <div class="ex-title fl">특이사항</div>
                            <div class="ex-desc  fl">
                                <label for="memberEtc"></label>
                                <input id="memberEtc" th:value="${memberInfo.member_etc}">
                            </div>
                            <style>
                                #memberEtc {width:  100%; border:none; border-bottom: 1px solid rgb(38,75,57);}
                            </style>
                        </div>
                    </div>

                    <div class="col-12 mt90 tc">
                        <div class="login_submit mr20" style="display:inline-block;">
                            <div class="login_submit_style" style="display:block" id="back">
                                뒤로 가기
                            </div>
                        </div>

                        <div class="login_submit"  style="display:inline-block;">
                            <div class="login_submit_style" style="display:block" id="mod">
                                수정 하기
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${memberSeq}" id="memberSeq">
                    <input type="hidden" th:value="${branch}" id="branch">
                </form>
                <script>
                    $("#back").on("click", function () {
                        location.href = "/my_page";
                    });
                    
                    $("#mod").on("click",function () {
                        var memberSeq = $("#memberSeq").val();
                        var pnum = $("#pnum").val();
                        var etc = $("#memberEtc").val();
                        $.ajax({
                            data: {memberSeq: memberSeq, pnum: pnum, etc: etc},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '/updateInfo'
                            , beforeSend: function () {
                                Progress.on();
                            },
                            success: function (result) {
                                if (result == 1) {
                                    Progress.off("업데이트 완료");
                                } else {
                                    Progress.off("오류 발생 관리자에게 문의 하세요.");
                                }
                            }
                        })
                    })
                </script>
        </div>
        </div>
    </div>
</div>

<footer th:replace="common/footer"></footer>
</body>
</html>