<!DOCTYPE html> 
<html> 
    <head> 
        <title>수업 소개</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>
            
            <div class="col-12 sub_main login_wrap" style="background-image: url('img/login_img3.jpg')">
            	<div class="login_dim"></div>
            	<div class="col-12 login-form">
				    <form id="login">
				    	
				    	<div class="col-12">
				    		<h1>회원가입을 축하드립니다.</h1>
				    	</div>
				    
				    </form>
				 </div>
            </div>
        </div>
    </body>
    <script>
    	$("#loginBtn").on("click", function(){
    		
    	})
    </script>
</html>