<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="common/admin/admin_head"></head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
	<div th:replace="common/admin/admin_gnb"></div>
	
    <div class="col-12 right_body">
        <div class="col-12 mw-768 col-center pt80">
            <div style="display: flex; justify-content: center; align-items: center;">
                <div style="font-size:20px; margin-bottom: 30px;">
                    수강생 등록을 완료 하였습니다.
                </div>

                <a href="/admin/view_student" style="font-size:15px;">
                    돌아가기
                </a>
            </div>

        </div>
    </div>

</body>

</body>
</html>