<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <head th:replace="common/admin/admin_head"></head>
</head>
<body>

	<div th:replace="common/admin/admin_gnb"></div>
	
	<div class="col-12 right_body">
   
    <div class="col-12  mw-768 col-center pt80">
        <div class="step_title">
            회원 등록
        </div>

        <form class="col-12 reg_member_con" action="/admin/insertMember" method="post" id="mbmer_insert">
            <div style="font-size: 15px; color:red; margin-bottom: 30px;">
                모든 값은 필수 입니다.<br>
                만약 넣은 값이 없다면 무작위로 입력해주세요.
            </div>
            <div class="col-12 reg_con">
                <div class="reg_title">이름</div>
                <div class="reg_left_input">
                    <input name="name" required>
                </div>
            </div>

            <disv class="col-12 reg_con">
                <div class="reg_title">아이디</div>
                <div class="reg_left_input">
                    <input class="type_2" name="id" id="chkIdVal">
                    <div class="check_btn" id="checkId">
                        <div class="check_text">
                            	중복확인
                        </div>
                    </div>
                </div>
            </disv>

            <div class="col-12 reg_con">
                <div class="reg_title">비밀번호</div>
                <div class="reg_left_input">
                    <input name="pass" type="password" required>
                </div>
            </div>

            <div class="col-12 reg_con">
                <div class="reg_title">지점선택</div>
                <div class="reg_left_select">
                    <select name="branch">
                        <option value="1">안암점</option>
                        <option value="2">한양대점</option>
                    </select>
                </div>
            </div>

            <div class="col-12 reg_con">
                <div class="reg_title">전화 번호</div>
                <div class="reg_left_input">
                    <input name="pnum" placeholder="- 빼고 입력해 주세요 ex)01099999999" required>
                </div>
            </div>

            <div class="col-12 reg_con">
                <div class="reg_title">특이 사항</div>
                <div class="reg_left_input">
                    <input name="member_etc" required placeholder="없을 경우 없음 입력">
                </div>
            </div>
        </form>

        <div class="col-12 tc">
            <div class="step_btn_con type_2">
                <a class="step_btn left go_step2" style="display:block" id="reg_insert">
                    	추가하기
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    var chkId = false;
    $("#checkId").on("click",function() {
        console.log($("#chkIdVal").val())
        var id = $("#chkIdVal").val();
        if(id == "") {
            alert("아이디 값을 입력해주세요.")
        } else {
            $.ajax({
                url : "/searchId",
                dataType: "json",
                async: false,
                data: {id : id},
                success: function(result){
                    if(!result) {
                        alert("사용 가능한 아이디 입니다.");
                        chkId = true;
                    } else {
                        alert("사용 불가능한 아이디 입니다.");
                        chkId = false;
                    }
                }
            });
        }
    })


	$("#reg_insert").on("click", function() {
        var val = true;

        $("input").each(function () {
            if( $(this).val() == "" ) val = false;
        })
        if(val) {
            if(!chkId) {
                alert("아이디 중복 검사를 해주세요.");
                return false;
            } else {
                $("#mbmer_insert").submit();
            }
        } else {
            alert("모든 폼에 입력값은 필수 입니다.")
        }

	})

    $('[href="/admin/veiw_member"]').parent().addClass("active");
</script>
</body>
</html>