<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>학교 소개</title>
        <head th:replace="common/sub/head"></head>
    </head>
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>

            <div class="col-12">
              	<div class="col-12 school_main_visual" style='background-image: url("img/visual_img_school1.jpg");'>
              		<div class="col-12 col-center mw-1200 flex_center pl50 pr50 pr-sm-0 pl-sm-0">
              			<div class="fontsize80 point_white fontweight700 transition_css" style="z-index: 5" id="visual_font">
                            <span class="point_color"><span style="font-size: 85px">'건'</span>해지고</span><br>
                            <span class="point_color"></span> <span style="font-size: 85px">'강'</span>해지다<br>
              			</div>

						<div class="btn_bottom">
							<img src="img/down-arrow.png">
						</div>
              		</div>
              	</div>
              	<div class="col-12 visual_sub_dim"></div>
            </div>


			<div class="col-12 page_con" id="differExp">
				<div class="col-12 h-100 visual_bck backgrade"></div>
				<div class="page_con_dim"></div>
				<div class="col-12 col-center mw-1200 pr15 pl15">
					<div class="col-12 mw-550">
						<div class="fontsize42 point_white mb60" id="leftFont">
							<span style="font-size: 50px;">근력학교의 목표는</span><br>
							여러분의<br>
							<span class="fontweight700">'졸업'</span>입니다.
						</div>

						<div class="fontsize18 lineheight25 point_white transition_css" id="desc">
							<div class="point_white">
								그러기 위해 모든 수강생분들께 드리려고 하는 것은<br>
								훈련을<br>
								1. <spna style="font-weight: bold">[왜]</spna> 해야 하고,<br>
								2. <spna style="font-weight: bold">[무엇을]</spna> 가지고 해야 하며,<br>
								3. <spna style="font-weight: bold">[어떻게]</spna> 해야 하는가를 대답할 수 있는 지식과 경험입니다.<br>
								<br>
								그것만 가지고 계시면, 더 이상 피티에 의존하지 않고서도 스스로 강해지고 편안해질 수 있으리라 믿습니다.<br>
								<br>
								그 여정에 겪기 쉬운 시행착오는 근력학교가 최소화해드리겠습니다.<br>
								<br>
								<span class="fontweight_bold" style="font-size: 30px;">오십시오, 근력학교로.<br></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 경험이 다르다 -->
			<div class="col-12 pt99" id="goodCurri" style="background-color: #f6f7f9; padding-bottom: 100px;">
				<div class="col-12 col-center mw-1200">
					<div class="col-12 pr15 pl15">
						<div class="col-12 point_color emp" style="font-size: 18px; font-weight: bold; margin-bottom: 13px;">
							Benefit
						</div>

						<div class="col-12 fontsize42 point_color fontweight700 mb40">
							근력학교에서 얻어 갈 수 있는 것
						</div>

						<div class="col-12 mb50">
							<div class="col-12 mb50">
								<div class="col-6 pr30">
									<img src="img/theme1_visual_bg2.jpg">
								</div>
								<div class="col-6 pl30">
									<img src="img/theme1_visual_bg3.jpg">
								</div>
							</div>

							<div class="col-12 tc">
								<div class="fontsize18 lineheight35 point_color mb50">
									<ul class="mb40">
										<li class="mb10">
											<span class="fontweight_bold">1. 지식</span> : 폭 넓고 깊은 교육
										</li>
										<li class="mb10">
											<span class="fontweight_bold">2. 기술</span> : 숙련된 훈련 기술
										</li>
										<li>
											<span class="fontweight_bold">3. 근력</span> : 모든 것의 기본
										</li>
									</ul>

									<div>
										이 세가지를 갖출 수 있도록 체계화된 컨텐츠와 커리큘럼으로 여러분을 교육합니다.<br>
										이 세가지만 있으면 신체와 관련된 그 어떤 <span class="fontweight_bold">목표</span>라도 <span class="fontweight_bold">'평가'</span>하고 '달성'할 수 있습니다.
									</div>
								</div>

								<div class="mb30 mt30">
									<img src="img/why4.jpg">
								</div>

								<div class="col-12 fontsize18 lineheight35 point_color">
									저희는 <span class="fontweight_bold">트레이닝 전문가 집단</span>입니다.<br>
									<br>
									여러분이 다들 궁금해하면서도 헷갈려하는 <span class="fontweight_bold">'건강'이라는 것의 실체를 연구하고, 그것을 '훈련'</span>을 통해 개선하는 방법을 교육합니다.<br>
									<br>
									저희와 함께 더 건강해지고 더 행복해지는 여정을 시작해보시지 않으시겠습니까?<br>
									<br>
									그 길이 결코 힘겹고 지루하지 않을 것이라고 자신있게 말씀드릴게요.<br>
									<br>
									<span class="fontweight_bold">저희가 함께 한다면 말이죠.</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			<div class="col-12 mb99 pt99 pb99" style="background-color: #eeeeee">
				<div class="col-12 col-center mw-1200 pr15 pl15">
					<div class="col-12 point_color emp" style="font-size: 18px; font-weight: bold; margin-bottom: 13px;">
						EYESIGHT
					</div>

					<div class="col-12 fontsize42 point_color fontweight700 mb40">
						시야의 확장
					</div>

					<div class="col-12">
						<div class="col-12 mb80">
							<div class="col-12 col-sm-6 pr-sm-50 pr0 mb30 mb-sm-0">
								<img src="img/water2.jpg">
							</div>

							<div class="col-12 col-sm-6 fontsize18 lineheight35 point_color">
								저희와 수강생분들의 차이점은 <span class="fontweight_bold">'시야'</span>입니다.<br>
								근력학교는 훈련을 가르치는 것을 업으로 삼고, 이 분야를 넓고 깊게 공부하려고 발버둥치는 전문가 집단이지만,<br>
								<br>
								수강생분들은 (당연히) 운동을 처음 배우러 오시거나, 운동하는 법을 배우러 오시는 분들입니다.
								<br>
								그래서 <span class="fontweight_bold">'운동'과 ‘훈련’</span>이라는 단어를 혼용하시는데 비해, 저희는 두 단어를 엄격히 구분해서 씁니다.
								<br>
								그리고 그런 단어 앞에 펼쳐져 있는 <span class="fontweight_bold">광경도 다르게 보게 됩니다.</span>
							</div>
						</div>

						<div class="col-12 mb80">
							<div class="col-12 col-sm-6 fontsize18 lineheight35 point_color mb30 mb-sm-0">
								비유적으로 표현하자면,<br>
								<br>
								많은 수강생 분들이 <span class="fontweight_bold">'운동'이라는 단어에서 10가지 정도를 연상</span>하신다면,<br>
								저희는 <span class="fontweight_bold">'훈련'이라는 단어에서 1000가지 정도를 연상</span>한다고 비교해드리면 좋을 것 같습니다.<br>
								<br>
								즉 세상에는 여러분이 아시는 것보다 <span class="fontweight_bold">더 많은 종류의 훈련도구와 훈련방법론</span>이 있습니다.<br>
								<br>
								<span class="fontweight_bold">그러한 가짓수와 방법론이 늘어나는 만큼 선택의 폭도 넓어지는 것이고,<br>
									같은 목표에도 더 빨리, 더 완성도있게 도달할 수 있습니다.</span><br>
							</div>
							<div class="col-12 col-sm-6 pl-sm-50 pl0">
								<img src="img/check.jpg">
							</div>
						</div>


						<div class="col-12 mb80">
							<div class="col-12 col-sm-6 pr-sm-50 pr0 mb30 mb-sm-0">
								<img src="img/goal.jpg">
							</div>

							<div class="col-12 col-sm-6 fontsize18 lineheight35 point_color">
								여러분은 근력학교에서 이러한 지식으로 시작하여, <span class="fontweight_bold">보다 깊고 넓은 지식을 습득</span>해나가실 것입니다.<br>
								<br>
								그리고 매년 5월과 11월의 진급시험을 거쳐, 결국은 졸업시험까지 통과하시고 명예졸업을 맞이하게 되실 겁니다.<br>
								<br>
								<span class="fontweight_bold">그것이 저희의 목표이고, 꿈입니다.</span>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!--	찾아 오시는 길		-->
			<div class="col-12 mb99">
				<div class="col-12 mw-1200 col-center content_con">
					<div class="col-12 pr15 pl15">
						<div class="col-12 map-con">
							<div class="col-12 tab_con">
								<div class="col-6 tab active kor">고려대점</div>
								<div class="col-6 tab han">한양대점</div>
							</div>

							<div class="col-12 kor-content">
								<div class="col-12 mb50">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.767527166892!2d127.0274133153765!3d37.58409153088002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cbd4495c3cd75%3A0x62ba9e0d7b37b9ba!2z6re866Cl7ZWZ6rWQIOqzoOuMgOuzuOygkA!5e0!3m2!1sko!2skr!4v1577515450000!5m2!1sko!2skr" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="">
									</iframe>
								</div>
								<div class="col-12">
									<div class="col-6 map-tab-con">
										<div class="fontweight600 mb15 map-tab">
											location
										</div>

										<div class="fontweight400">
											서울특별시 성북구 '고려대로24길' 47 3층 <br>
											근력학교 고대본점
										</div>
									</div>

									<div class="col-6 map-tab-con">
										<div class="fontweight600 mb15 map-tab">
											call
										</div>

										<div class="fontweight400">
											백승덕 010-5416-7694<br>
											유선 02-921-5354
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 han-content" style="display: none;">
								<div class="col-12 mb50">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.846724800457!2d127.03835151537602!3d37.558674832335846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4a767821d7d%3A0xd963d49ee1b60a2e!2z7ISc7Jq47Yq567OE7IucIOyEseuPmeq1rCDtlonri7nrj5kgMTktMTAw!5e0!3m2!1sko!2skr!4v1577516646831!5m2!1sko!2skr" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
								</div>
								<div class="col-12">
									<div class="col-6 map-tab-con">
										<div class="fontweight600 fontsize20 mb15 map-tab">
											location
										</div>

										<div class="fontweight400 fontsize18">
											서울특별시 성동구 행당동 19-100번지 4층<br>
											근력학교 한양대점
										</div>
									</div>

									<div class="col-6 map-tab-con">
										<div class="fontweight600 fontsize20 mb15 map-tab">
											call
										</div>

										<div class="fontweight400 fontsize18">
											한상엽 010-9058-6688<br>
											이영권 010-9789-2383
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer th:replace="common/footer"></footer>
        </div>

        <script>
		$(".han-content").hide();
		$(".tab").on("click", function () {
			var _this = $(this);
			$(".tab").removeClass("active");
			_this.addClass("active");
			if(_this.hasClass("kor")) {
				$(".kor-content").show();
				$(".han-content").hide();
			} else {
				$(".kor-content").hide();
				$(".han-content").show();
			}
		})
        $(function(){
        	$('[href="/intro_school"]').parent().addClass("active");
        	$("#visual_font").animate( {
                opacity : 1,
                transform: 'translateY(0)',
            }, 600, "linear", function () {
				$(".btn_bottom").css("opacity",1);
			} );


        	var firstCon = document.querySelector("#differExp").offsetTop;
        	var goodCurri = document.querySelector("#goodCurri").offsetTop;
        	$(".btn_bottom").on("click", function(){
        		$('html, body').animate({scrollTop : firstCon}, 900);
        	});

        	$(window).scroll(function () {
        		var scrollValue = $(document).scrollTop();
        		if(scrollValue > firstCon - 100) {
        			$(".visual_bck").animate( {
        				opacity : 1,
                    }, 800, "linear", function(){
                    	$("#leftFont").animate( {
                            opacity : 1,
                            transform: 'translateX(0px)',
                            opacity : 1,
                        }, 500, "linear",function(){
                        	$("#desc").animate({
                        		opacity : 1,
                        	},500)
                        });
                    } );
        		}

        		// if(scrollValue + 100 > goodCurri){
                // 	$("#goodCurriFont").animate( {
                //         opacity : 1,
                //         transform: 'translateY(0)',
                //     }, 600, "linear",function(){
                //     	$("#goodCurriDesc").animate({
                //     		opacity : 1,
                //     	},500, function(){
                //     		$(".img_con").animate({
                //     			opacity : 1,
                //     		}, 800)
                //     	})
                //     } );
        		// }
        	});
        })
        </script>
    </body>
</html>