@charset "utf-8";

/* btn_style */
.btn_style_3_con{font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem; }
.btn_style_3_con .btn_style_3{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem; letter-spacing: -0.025em; font-weight: 500; color: white; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    border-radius:30px; background-color:rgb(38,75,57);; padding-top: 14px; padding-bottom: 16px; padding-left: 33px; padding-right: 30px; overflow:hidden; display: inline-block;}

.btn_style_3_con .btn_style_3.type2 {width: 150px; text-align: center; cursor: pointer;}
.mw-980{max-width: 980px;}
/* .point_color{color:#fef200} */

.point_color{color:rgb(38,75,57);}
.point_color2{color:#0B1761;}
.point_color3{color:rgb(228,101,56);}
.bold{font-weight: bold;}
.point_white{color:white !important;}

/* font */
.title_font{font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; font-weight: bold;}
.text_title_font {font-size:20px; text-align: center; margin-bottom: 20px; font-weight: bold; }
.text_desc_font {font-size:15px; text-align: center; font-weight: bold;}
.sub_back{background-color:#000; padding-top: 50px; padding-bottom:150px;}

/* table */
.table_style1{color:black; font-size:10px; font-size:1.0rem; line-height:16px; line-height:1.6rem; font-weight: bold;  text-align: center; border:1px solid black; width: 100%;}
.table_style1 th {border:1px solid black;}
.table_style1 td {border:1px solid black; padding:5px 0px;}
.table_style1 td.today{background-color: rgb(38,75,57); color: white;}
.table_style1 td.active{background-color: rgb(38,75,57); color: white;}
.table_style1.reg {font-size: 10px;}
.table_style1.reg tbody td {cursor: pointer;}

.table_style1.type2{color: white; border:1px solid white;}
.table_style1.type2 th {border:1px solid white; padding:5px;}
.table_style1.type2 td {border:1px solid white; padding:5px 0px;}

.table_style2{color:black; font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;   font-weight: bold;  text-align: center; border:1px solid black; width: 100%;}
.table_style2 th {border:1px solid black;}
.table_style2 td {border:1px solid black; padding:5px 0px; cursor: pointer;}
.table_style2 td.active{background-color: darkgray;}

@media all and (min-width:992px){
    .table_style1{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem; }
    .table_style1 td {border:1px solid black; padding:10px;}
    .table_style1 {font-size:13px; font-size:1.3rem; line-height:19px; line-height:1.9rem;}
    .table_style1.reg {font-size: 13px;}
}

@media all and (min-width:780px) {
    .btn_style_3_con .btn_style_3.type2 {width: 250px; }
}
