@charset "utf-8";

/* Noto Font */
/*@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');  !* font-weight : 100, 300, 400, 500, 700, 900 *!*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: none 0;}
caption {text-indent:-10000px;}
html { font-size: 10px; }
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
body {background-color:#fff; color:#000; line-height: 1.2; font-weight: 300; font-family:'Noto Sans KR', sans-serif, Dotum, Verdana, Helvetica, Sans-serif !important;}
input, button, textarea {font-family: inherit; font-size:1.2rem; color:#000;}
h1, h2, h3, h4, h5, h6 {letter-spacing: 0; font-weight:normal;}
img, fieldset, iframe {border:0 none;}
table {border-collapse: collapse;}
select, textarea {font-family: inherit; border: 1px solid #B7B6B6; background: #FFFFFF; color: #7c7c7c; font-size: 12px; font-size: 1.2rem; vertical-align: middle;}
textarea {overflow:auto;}
select, input, img, li {vertical-align: middle; text-align:inherit; outline: none;}
address, caption, cite, code, dfn, em, strong, th, var {font-style : normal; font-weight : 900;}
ul, li, ol {list-style-type: none;}
legend,  caption {display: none;}
hr {border-collapse:collapse; margin: 0; border: none;}
a:link, a:visited {text-decoration:none; color:inherit;}
a:hover {text-decoration:none;}
input[type="button"] {-webkit-appearance: none;}
i {line-height: 0.8em !important;}  /* 아이콘 vertical middle 위해 */

.main-vedio {height: 100vh; width: auto; position: absolute; left: -50%; }
.main-vedio.type2 {left: -100%;}

.sub-vedio {height: 100vh; width: auto; position: absolute;}
.point-red {color:red;}
.f-center {display: flex; justify-content: center; align-items: center;}
.vh-100 {height: 100vh;}


/* 회원가입 및 등록 */
.reg_member_con {border-top:2px solid black; border-bottom:2px solid black; padding:30px 100px; margin-bottom: 30px;}
.reg_con{margin-bottom: 15px; box-sizing: border-box; display: flex; justify-content: center; align-items: center;}
.reg_con .reg_title{ float:left;
    width: 80px; font-size:16px; font-size:1.6rem; line-height:26px; line-height:2.6rem; display: inline-block; vertical-align: middle; text-align: left;}
.reg_con .reg_left_input{width:calc(100% - 85px); display: inline-block; vertical-align: middle; border:1px solid rgb(38,75,57);}
.reg_con .reg_left_input input{width: 100%; padding:12px; outline: none; box-sizing: border-box; border:none; text-align: left; font-size: 15px;}
.reg_con .reg_left_input input.type_2{width: calc(100% - 120px);  outline: none;}
.reg_con .reg_left_input .check_btn {padding-top: 13px; padding-bottom: 13px; padding-right: 30px; padding-left: 30px;
    outline: none; background-color:rgb(38,75,57); float: right; cursor:pointer;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; height: 28px;  display: table; transition:all 0.3s;
    color: white;}
.reg_con .reg_left_input .check_btn:hover{ background-color: rgba(38,75,57,0.6);}
.reg_con .reg_left_input .check_btn .check_text{ display: table-cell; vertical-align: middle; font-size:14px; font-size:1.4rem; line-height:20px; line-height:2.0rem;
font-weight: bold; color: white;}
.reg_con .reg_left_select {width:calc(100% - 85px); display: inline-block; vertical-align: middle; text-align: left;}
.reg_con .reg_left_select select{padding: 5px; width: 160px; color: black; font-size:15px; font-size:1.5rem; 
line-height:21px; line-height:2.1rem; outline: none; border:1px solid black;}

/* 페이징 처리 */
.paging_con {font-size:15px; text-align: center;}
.paging_con .before_btn {color:black; display:inline-block; margin-right:10px;}
.paging_con .before_btn:hover{color:#ea9643;}
.paging_con .next_btn {color:black; display:inline-block; margin-left:10px;}
.paging_con .next_btn:hover {color:#ea9643}
.paging_con .paging {display:inline-block;}
.paging_cnt:first-child{margin-left:0px;}
.paging_cnt:last-child{margin-right:0px;}
.paging_cnt {font-size:15px; margin-right:5px; margin-left:5px;}
.paging_cnt.current{color:#ea9643;}
.paging_cnt:hover{ color:#ea9643; }


.login_submit {margin:auto; background-color: rgb(38,75,57); width:150px; cursor: pointer; transition:all 0.3s; border-radius: 20px;}
.login_submit:hover {background-color: rgba(38,75,57, 0.6);}
.login_submit .login_submit_style {color:white; padding:15px; font-size: 25px; font-weight: 400;}

@media all and (min-width: 768px) {
    .main-vedio {height: auto; width: 100%; position: static;}
    .sub-vedio {height: auto; width: 100%;}
    .reg_con .reg_title{width: 150px; font-size:20px; font-size:2.0rem; line-height:26px; line-height:2.6rem; }
    .reg_con .reg_left_input{width:calc(100% - 160px);}
    .reg_con .reg_left_select {width:calc(100% - 160px);}
}