<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>수업 소개</title>
    <head th:replace="common/sub/head"></head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div class="col-12 wrapper">
    <header th:replace="common/header"></header>
        <div class="col-12 sub_visual_back" style="background-image: url('img/water2.jpg');">
            <div class="col-12 sub_dim"></div>
            <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
                <div class="col-12 h-100 fn show-table">
                    <div class="col-12 fn show-tablecell vm tl">
                        <div class="col-12">
                            <div class="col-12 sub_text pb10 pt90 bold">
                                운동 일지 생성
                            </div>
                            <div class="col-12 sub_content">
                                <span class="point_color bold"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 sub-content">
            <div class="lnb">
                <div class="lnb-title">
                    운동 일지
                </div>
                <ul>
                    <li class="active">
                        <a href="/exCreate">일지 기록</a>
                    </li>
                    <li class="tab-font">
                        <a href="/exView">일지 확인</a>
                    </li>
                </ul>
            </div>
            <div class="inner-content">

                <div class="mb10">
                    <div class="fontsize30 fontweight_bold tc">날짜 선택<sapn class="cal"></sapn></div>
                </div>
                <div class="col-12 tc mb30">
                    <input class="date" readonly id="selectDay"/>
                </div>

                <div class="col-12 mb50">
                    <table class="table_style_4">
                        <tbody>
                        <tr>
                            <td class="hidden"><input class="MEMBER_SEQ" type="hidden" th:value="${memberInfo.member_seq}"></td>
                        </tr>
                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT1'" class="EX_WEIGHT1">
                                    <span th:text="${exNameList.EX_NAME}"></span>
                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT1" th:value="${memberExRecord.EX_WEIGHT1}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT1" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT2'"
                                    class="EX_WEIGHT2"
                                >
                                    <span th:text="${exNameList.EX_NAME}"></span>
                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT2" th:value="${memberExRecord.EX_WEIGHT2}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT2" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT3'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT3"
                                >

                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT3" th:value="${memberExRecord.EX_WEIGHT3}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT3" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT4'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT4"
                                >

                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT4" th:value="${memberExRecord.EX_WEIGHT4}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT4" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT5'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT5"
                                >

                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT5" th:value="${memberExRecord.EX_WEIGHT5}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT5" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT6'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT6"
                                >

                                </th>
                            </th:block>
                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT6" th:value="${memberExRecord.EX_WEIGHT6}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT6" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT7'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT7"
                                >

                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT7" th:value="${memberExRecord.EX_WEIGHT7}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT7" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT8'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT8"
                                >
                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT8" th:value="${memberExRecord.EX_WEIGHT8}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT8" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT9'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT9"
                                >

                                </th>
                            </th:block>

                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT9" th:value="${memberExRecord.EX_WEIGHT9}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT9" type="number" value="0"></td>
                            </th:block>
                        </tr>

                        <tr>
                            <th:block th:each="exNameList : ${exNameList}" th:object="${exNameList}">
                                <th th:if="${exNameList.EX_NUM_NAME} == 'EX_WEIGHT10'"
                                    th:text="${exNameList.EX_NAME}"
                                    class="EX_WEIGHT10"
                                >
                                </th>
                            </th:block>
                            <th:block th:if="${memberExRecord}">
                                <td><input class="EX_WEIGHT10" th:value="${memberExRecord.EX_WEIGHT10}" type="number"></td>
                            </th:block>
                            <th:block th:unless="${memberExRecord}">
                                <td><input class="EX_WEIGHT10" type="number" value="0"></td>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12">
                    <div class="d-flex f-center">
                        <div class="btn_style_3_con mr30">
                            <div class="btn_style_3 type2" id="save">
                                저장
                            </div>
                        </div>

                        <div class="btn_style_3_con">
                            <div class="btn_style_3 type2" id="back">
                                뒤로
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<footer th:replace="common/footer"></footer>
<th:block>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var exList = [[${exNameList}]];
        var today = [[${today}]];
        /*]]>*/

        $("#selectDay").datepicker( {dateFormat: "yy-mm-dd"});
        $("#selectDay")[0].value = today;
        var result = {};
        for(var i=0;i <exList.length;i++) {
            result[exList[i].EX_NUM_NAME] = exList[i].EX_HIDE;
        }

        var keys = Object.keys(result);
        for(i=0;i<keys.length;i++) {
            var key = keys[i];
            var isHide = result[key];
            if( isHide !== "true") {
                $("." + key).parent().hide();
                $("." + key).hide();
            }
        }
        
        $("#back").on("click", function () {
            location.href = "/exRecord"
        })
        $("#save").on("click", function () {
            var row = $("tbody td");
            var saveData = {};
            var saveRow = $(row).find("input");
            for(var j=0;j<saveRow.length;j++) {
                var saveRowVal = saveRow[j]
                var key = saveRowVal.className;
                var value = saveRowVal.value;
                saveData[key] = value
            }
            saveData["EX_DATE"] = today;
            console.log(saveData)
            $.ajax({
                url : "/exUpdate",
                data : saveData,
                success: function(result){
                    alert("저장 되었습니다.")
                }
            })
        })

        $("#selectDay").on("change",function () {
            var date = $(this)[0].value;
            location.href="/exCreate?date=" + date;
        })
    </script>
</th:block>

</body>
</html>