<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 공통css -->
<link rel="stylesheet" type="text/css" th:href="@{../css/common_helve.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/common_style.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/common.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/footer.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/header.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{../css/theme.layout.main.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/Responsive.css}" /> 
<link rel="stylesheet" type="text/css" th:href="@{../css/swiper.min.css}" /> 

<!-- 달력 css -->
<link th:href="@{../js/calendar/defualt/core/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/defualt/daygrid/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/defualt/timegrid/main.css}" rel='stylesheet' />
<link th:href="@{../js/calendar/customize/customize.css}" rel='stylesheet' />

<!-- 공통script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{../js/swiper/swiper.min.js}"></script>
<script th:src="@{../js/rollingEvent.js}"></script>

<!-- 달력js -->
<script th:src="@{../js/calendar/defualt/core/main.js}"></script>
<script th:src="@{../js/calendar/defualt/interaction/main.js}"></script>
<script th:src="@{../js/calendar/defualt/daygrid/main.js}"></script>
<script th:src="@{../js/calendar/defualt/timegrid/main.js}"></script>
<script th:src="@{../js/calendar/regJs/regSchedule.js}"></script>
<script th:src="@{../js/calendar/customize/customize.js}"></script>
<!-- 운동js -->
<script th:src=@{../js/excercise/excercise.js}></script>

