<div class="col-12 footer_wrap">
    <div class="col-12 col-center mw-1200">
        <div class="col-12 pr15 pl15">
            <div class="col-12 col-md-6 mb30 mb-md-0 tc tl-md">
                <div data-wv-layout-element="block_inner">
                    <a href="javascript:void(0)" class="show mr25">
                        <img src="../img/logo_girl.png" alt="" style="width: 200px;">
                    </a>
                    <div data-wv-layout-element="block_inner" class="wveditor_text">
                        <div class="col-12">
                            <a href="javascript:void(0)" class="show mt5 contact_us">
                                <span class="lineheight0 font_helve pr10">CONTACT US</span>
                                <svg version="1.1" id="레이어_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5.8 9.7" style="enable-background:new 0 0 5.8 9.7; width: 6px; height: 11px;" xml:space="preserve">
                                    <style type="text/css">
                                    .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:square;stroke-miterlimit:10;}
                                    </style>
                                    <path class="st0" d="M-27.4-15.6"></path>
                                    <line x1="-30.7" y1="0.2" x2="-26.5" y2="4"></line>
                                    <polygon points="0.7,9.7 0,9 4.4,4.9 0,0.7 0.7,0 5.8,4.9 " style="fill:#fff;"></polygon>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="col-12 mb19" >
                    <div data-wv-layout-element="block_inner" class="wveditor_text">
                        <ul class="footer_util_list_con">
                            <li class="footer_util_list">
                                <a href="javascript:void(0)">
                                    이용약관
                                </a>
                            </li>
                            <li class="footer_util_list">
                                <a href="javascript:void(0)">
                                    개인정보취급방침
                                </a>
                            </li>
                            <li class="footer_util_list">
                                <a href="/map">
                                    찾아오시는길
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 mb13" >
                    <div class="footer_addr">
                        서울특별시 성북구 인촌로24길 47 3층 근력학교<br>
                        이메일  test.test
                    </div>
                </div>
                <div class="col-12 mb50" >
                    <div class="footer_copy font_helve">
                        2019 COPYRIGHT BY KU. ALL RIGHTS RESERVED
                    </div>
                </div>
                <div class="col-12 tc tl-md" >
                    <a href="javascript:void(0)" class="go_up_btn" id="goBtn">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40.4 20" style="enable-background:new 0 0 40.4 20; width:39px; height:21px; fill:#fff;" xml:space="preserve">
                <polygon points="1.3,20 0,18.5 20.3,0 40.4,18.5 39,20 20.3,2.7 "></polygon>
                </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	#goBtn{transition:all 0.5s;}
</style>
<script>
$( "#book" ).animate({
    opacity: 0.25,
    left: "50px"
}, 5000, () => {
    // Animation complete.
});



	$("#goBtn").on("click", function(){
		$('html, body').animate({
            scrollTop : 0
        }, 800);
	})
</script>