<div class="col-12 log_con">
    <div class="col-12 mw-1200 col-center">
        <div class="col-12 pt30 pr30 pl30 pr-sm-0 pl-sm-0">
            <div class="left_logo">
                <!--왼쪽 로고-->
                <!--img는 width값과 height가 고정 되어 있으므로 크기 변경 시 css변경 필요-->
                <!--반대로 어떠한 이미지를 넣어도 고정 값으로 변함-->
                <h1>
                    <a href="/">
                        <img src="../img/main_logo.png" alt="main_logo">
                    </a>
                </h1>
            </div>

            <div class="right_utill_con">
                <!--메뉴 쪽, 추가 메뉴 필요시 li a 를 추가 하면 됨-->
                <ul class="col-12 ul_utill">
                    <li class="">
                        <a href="/">
                            강사소개
                        </a>
                    </li>
                    <li>
                        <a href="/intro_course">
                            수업 소개
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            신청 안내
                        </a>
                    </li>
                    
                    <li>
                        <a href="/exercise/exerciseChoice">
                            나의 운동
                        </a>
                    </li>
                    
                    <li class="">
                        <a href="/course_schedule/regSchedule">
                            스케쥴 등록
                        </a>
                    </li>
                    <li class="">
                        <a href="/course_schedule/checkSchedule">
                            스케쥴 확인
                        </a>
                    </li>
                    <li class="">
                        <a href="/register/regStudent">
                            수강생등록
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            회원등록
                        </a>
                    </li>
                    <li id="moblie_menu">
                        <span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--모바일 시에 메뉴-->
<div id="moblie_menu_wrap" class="col-12 click_header_wrap">
    <div class="col-12">
        <div class="col-12 mobile_logo_con">
            <div class="left_logo">
                <img src="../img/logo_girl.png" alt="" style="width:200px;">
            </div>
            <div id="x_btn" class="right_btn_con close_btn">
                <img src="../img/x_btn.png" alt="">
            </div>
        </div>

        <div class="col-12 header_fixed_menu_box">
            <div class="member_menu_wrap">
                <div class="col-0 mr40">
                    <a href="/" target="_blank" class="btn_style_0">
                        <span class="point0">근력학교</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 pr40 pl40 pr-md-0 pl-md-0">
            <div class="col-12 gnb_wrap">
                <ul>
                    <li class="">
                        <a href="/">
                            강사소개
                        </a>
                    </li>
                    <li>
                        <a href="/intro_course">
                            수업 소개
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            신청 안내
                        </a>
                    </li>
                    <li class="">
                        <a href="/exercise/exerciseRecord">
                            일지 작성
                        </a>
                    </li>

                    <li class="">
                        <a href="/exercise/exerciseConfirm">
                            일지 확인
                        </a>
                    </li>
                    
                    <li class="">
                        <a href="/course_schedule/regSchedule">
                            스케쥴 등록
                        </a>
                    </li>
                    <li class="">
                        <a href="/course_schedule/checkSchedule">
                            스케쥴 확인
                        </a>
                    </li>
                    <li class="">
                        <a href="/register/regStudent">
                            수강생등록
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            회원등록
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
