<!DOCTYPE html>
<html>
<head>
 <head th:replace="common/admin/admin_head"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="common/admin/admin_gnb"></div>

<div class="col-12 right_body">
	<div class="col-12 inner_con">
		<div class="step_title">
	        	수강생 현황
	    </div>
		<div class="col-12">
			<div class="col-12">
				<table class="table_style_3">
					<thead>
						<tr>
							<th>번호</th>
							<th>이름</th>
							<th>시작일</th>
							<th>마감일</th>
							<th>주 횟수</th>
							<th>Delay 사용 여부</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="courseStudentList : ${courseStudentList}" th:object="${courseStudentList}">
							<td th:text="${courseStudentList.NO}"></td>
							<td th:text="${courseStudentList.NAME}"></td>
							<td th:text="${courseStudentList.START_DATE}"></td>
							<td th:text="${courseStudentList.END_DATE}"></td>
							<td th:text="${courseStudentList.TIMES_WEEK} + '' + ${courseStudentList.ALIAS_LIST_FULL_NAME}"></td>
							<td th:if="${courseStudentList.IS_DELAY} == 0">
								Delay 미사용
							</td>
							<td th:unless="${courseStudentList.IS_DELAY} == 0">
							 	Delay 사용
							</td>
							<td class="hidden" th:text="${courseStudentList.MEMBER_SEQ}"></td>
						</tr>
					</tbody>
					
				</table>	
				
				<div class="col-12">
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="step_btn_con right">
    	<a class="step_btn left go_step2" href="/admin/admin_reg_course_student" style="display:block">
        	추가하기
        </a>
    </div>	
</div>

</body>
</html>