<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
	<h1>회원 등록</h1>
	<form action="/admin/insertMember" method="post">
		<div>이름</div>
		<div>
			<input name="name">
		</div>
		<div>아이디</div>
		<div>
			<input name="id">
		</div>
		<div>비밀번호</div>
		<div>
			<input name="pass">
		</div>
		<div>
			<input type="submit" value="저장">
		</div>	
	</form>

	
</body>
</html>