<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="col-12 admin_sub" style="padding-top:100px;">
	<div class="col-12 mx-1200 col-center" style="font-size:15px;">
		<div class="col-12 pr15 pl15">
		
		<form class="col-12" action="">
			<div class="col-12 form_con">
				<span class="mb30">강좌 이름</span>
				<input name="couse_name">
			</div>	
			
			<div class="col-12 form_con">
				<span class="mb30">강의 요일</span>
				<select name="week_of_day">
					<option value="mon">월</option>
					<option value="tue">화</option>
					<option value="wed">수</option>
					<option value="thu">목</option>
					<option value="fri">금</option>
					<option value="sat">토</option>
				</select>
			</div>
			
			<div class="col-12 form_con">
				<span class="mb30">시작 시간</span>
				<select name="course_start_time">
					<option value="0">0교시 8:00 ~ 9:30</option>
					<option value="1">1교시 10:00 ~ 11:30</option>
					<option value="2">2교시 12:00 ~ 13:30</option>
					<option value="3">3교시 15:00 ~ 17:00</option>
					<option value="4">4교시 18:00 ~ 19:30</option>
					<option value="5">5교시 20:00 ~ 21:30</option>
					<option value="6">6교시 22:00 ~ 23:30</option>
				</select>
			</div>
			
			<div class="col-12 form_con">
				<span class="mb30">수강 최대 인원</span>
				<input name="max_people">
			</div>
			
			<div class="col-12">
				<input type="submit" value="저장"> 
			</div>
		</form>
		</div>
	</div>
</div>

</body>
</html>