<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <head th:replace="common/sub/admin_head"></head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<style>
	.time_list{display: inline-block; border:1px solid black; margin-right:10px; padding: 5px; vertical-align: top; font-size: 12px; font-weight: normal;height: 20px; width: 100px; line-height: 20px;}
	.time_list:last-child {margin-right:0px;}
</style>

<div class="col-12 admin_sub" style="padding-top:100px;">
	<div class="col-12 mw-1200 col-center" style="font-size:15px;">
		<div class="col-12 pr15 pl15">
		<form class="col-12" id="course" action="/admin/insertCourseStudent">
			<div class="col-12 form_con">
				<span class="mb30">회원 이름</span> <span style="border:1px solid black" id="findMember">찾기</span>
				<input name="member_name" class="col-12" readonly>
				<input name="member_seq" class="hidden">
				<div class="col-12" id="memberList">
					<table>
						<thead>
							<th>번호</th>
							<th>이름</th>
							<th>아이디</th>
						</thead>
						<tbody>
							<tr></tr>
						</tbody>
					</table>
				</div>
			</div>	
			
			<div class="col-12 form_con">
				<span class="mb30">강좌 시간 선택
					<span id="today" th:each="dateList : ${dateList}" th:object="${dateList}">
						<span th:text="${dateList}" class="pl20"></span>
					</span>
				</span>
				<div id="nextWeek">다음</div>
				<div id="beforeWeek">이전</div>
				<table class="table_style2" id="courseTimeTable">
	               <colgroup>
	               </colgroup>
                      <col width="auto" />
                      <col width="12%" />
                      <col width="12%" />
                      <col width="12%" />
                      <col width="12%" />
                      <col width="12%" />
                   <thead>
	                    <tr>
		                    <th>시간</th>
		                    <th>월</th>
		                    <th>화</th>
		                    <th>수</th>
		                    <th>목</th>
		                    <th>금</th>
	                   </tr>
                   </thead>
        
                   <tbody>
                   
                   <tr>
                       <th>10:00 ~ 11:30</th>
                       <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 10">
                       	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
	                       	 <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       	   </span>
                       	   <span  th:unless="${courseRegNumList.is_use_yn} == 1">
                       	   	 강의 없음
                       	   </span>
                       </td>
                   </tr>
                   
                   <tr>
                       <th>12:00 ~ 13:30</th>
                       <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 12">
                       	 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
                       	  <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       </td>
                   </tr>
                   
                   <tr>
                       <th>15:00 ~ 17:00</th>
                         <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 15">
                       	 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
                       	 <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       </td>
                   </tr>
                   
                   <tr>
                       <th>18:00 ~ 19:30</th>
                         <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 18">
                       	 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
                       	  <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       </td>
                   </tr>
                   
                   <tr>
                       <th>20:00 ~ 21:30</th>
                         <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 20">
                       	 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
                       	 <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       </td>
                   </tr>
                   
                   <tr>
                       <th>22:00 ~ 23:30</th>
                       <td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                       	   th:if="${courseRegNumList.course_start_time} == 22">
                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
	                       	  <span th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')' "></span>
                       	   </span>
                       	   <span  th:unless="${courseRegNumList.is_use_yn} == 1">
                       	   	 강의 없음
                       	   </span>
                       </td>
                   </tr>
                   
                   </tbody>
               </table>
			</div>
			
			<div class="col-12">
				<div class="col-12 mb10">수업 시작일</div>
				<span class="col-12 mb30" id="times" name="times">주0회</span><span id="number" name="number"></span>
				<input name="register_start_time" id="startTime" readonly>
				<div class="col-12 mb10">수업 마지막일</div>
				<input name="register_end_time" id="endTime" readonly>
				<div class="col-12">
					<div id="courseDateList">
						
					</div>
					<div>
						<input type="button" id="plusBtn" value="추가하기"/>
					</div>
				</div>
			</div>
			
			<div class="col-12">
				<input type="hidden" name="dayList">
				<input type="submit" value="저장" id="courseInsertBtn"> 
			</div>
		</form>
		</div>
	</div>
</div>


</body>
</html>