<!DOCTYPE html> 
<html> 
    <head> 
        <title>관리자 페이지</title> 
        <head th:replace="common/sub/admin_head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
        	<div class="col-12 mw-1200 col-center">
        		<div class="col-12 pr15 pl15">
        			<div class="col-4">
        				<a href="/admin/admin_reg_course_student">
        					수강생 등록
        				</a>
        			</div>
        			<div class="col-4">
        				<a href="/admin/admin_reg_course">
        					강의등록
        				</a>
        			</div>
        			<div class="col-4">
        				<a href="">
        					회원등록
        				</a>
        			</div>
        		</div>
        	</div>
        </div>
    </body>
</html>