<!DOCTYPE html> 
<html> 
    <head> 
        <title>수업 안내</title> 
        <head th:replace="common/sub/head"></head>
    </head> 
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>
            
            <div class="sub_main col-12">
                <div class="col-12 sub_visual_back" style='background-image: url("img/visual_img1.jpg");'>
                    <div class="col-12 sub_dim"></div>
                    <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
                        <div class="col-12 h-100 fn show-table">
                            <div class="col-12 fn show-tablecell vm tl">
                                <div class="col-12">
                                    <div class="col-12 sub_text pb10 pt90 bold">
                                        	수업 소개
                                    </div>
                                    <div class="col-12 sub_content">
                                        <span class="point_color bold">당신은 헬스를 모른다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-12">
                    <div class="col-12 mw-1200 col-center content_con">
                        <div class="col-12 pr15 pl15">
                            <div class="col-12 time_table_con">
                                <div class="col-12 title_font point_color mb30">
                                   	 근력 학교 수업 시간표
                                </div>
                                <div class="col-12">
                                    <table class="table_style1">
                                        <colgroup>
                                            <col width="auto" />
                                            <col width="12%" />
                                            <col width="12%" />
                                            <col width="12%" />
                                            <col width="12%" />
                                            <col width="12%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                        </colgroup>
                                        <thead>
                                        <th>  </th>
                                        <th>월</th>
                                        <th>화</th>
                                        <th>수</th>
                                        <th>목</th>
                                        <th>금</th>
                                        <th>토</th>
                                        <th>일</th>
                                        </thead>
        
                                        <tbody>
                                        <tr>
                                            <td>8:00 ~ 9:30</td>
                                            <td colspan="5">수업 없음</td>
                                            <td rowspan="7">입학반 기초 <br>& 바벨 케틀벨 수업</td>
                                            <td rowspan="7">휴무</td>
                                        </tr>
                                        <tr>
                                            <td>10:00 ~ 11:30</td>
                                            <td></td>
                                            <td>1교시</td>
                                            <td></td>
                                            <td>1교시</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>12:00 ~ 13:30</td>
                                            <td>2교시</td>
                                            <td>2교시</td>
                                            <td>2교시</td>
                                            <td>2교시</td>
                                            <td>2교시</td>
                                        </tr>
                                        <tr>
                                            <td>3:00 ~ 5:00</td>
                                            <td>3교시</td>
                                            <td>3교시</td>
                                            <td>3교시</td>
                                            <td>3교시</td>
                                            <td>3교시</td>
                                        </tr>
                                        <tr>
                                            <td>6:00 ~ 7:30</td>
                                            <td>4교시</td>
                                            <td>4교시</td>
                                            <td>4교시</td>
                                            <td>4교시</td>
                                            <td>4교시</td>
                                        </tr>
                                        <tr>
                                            <td>8:00 ~ 9:30</td>
                                            <td>5교시</td>
                                            <td>5교시</td>
                                            <td>5교시</td>
                                            <td>5교시</td>
                                            <td>5교시</td>
                                        </tr>
                                        <tr>
                                            <td>10:00 ~ 11:30</td>
                                            <td>6교시</td>
                                            <td></td>
                                            <td>6교시</td>
                                            <td></td>
                                            <td>6교시</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                            <div class="col-12 price_con">
                                <div class="col-12 title_font point_color mb30">
                                    근력학교 등록금
                                </div>
                                <div class="col-12">
                                    <table class="table_style1">
                                        <colgroup>
                                            <col width="70%" />
                                            <col width="30%" />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>입학생필수 수강: 바벨& 케틀벨 기초 클래스</td>
                                                <td>5시간 <span class="point_color">8만원</span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    ※ 기초 클래스를 수강해야 다른 학생들과 비슷한 수준에서 수업에 참여 할 수 있습니다.<br>
                                                    ※ 기초 클래스는 평생 1회만 수강하시면 됩니다.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>주 1회 클래스</td>
                                                <td>1개월 <span class="point_color">14만원</span></td>
                                            </tr>
                                            <tr>
                                                <td>주 2회 클래스</td>
                                                <td>1개월 <span class="point_color">24만원</span></td>
                                            </tr>
                                            <tr>
                                                <td>주 3회 클래스</td>
                                                <td>1개월 <span class="point_color">34만원</span></td>
                                            </tr>
                                            <tr>
                                                <td>주 4회 클래스</td>
                                                <td>1개월 <span class="point_color">44만원</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                            <div class="col-12 how_to_con">
                                <div class="col-12 title_font point_color mb30">
                                    	근력학교 이용방법
                                </div>
                                
                                <div class="col-12">
                                    <div class="content_con">
                                        ① 원하는 요일/교시를 고르시고<br>
                                        ② 주말 바벨&케틀벨 기초 클래스를 수료한 뒤<br>
                                        ③ 원하는 요일/교시에 등교하시면 됩니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="common/footer"></footer>
        </div>

    </body>

</html>