<!DOCTYPE html>
<html>
    <head>
        <title>수업 안내</title>
        <head th:replace="common/sub/head"></head>
    </head>
    <body>
        <div class="col-12 wrapper">
            <header th:replace="common/header"></header>

            <div class="sub_main col-12">
                <div class="col-12 sub_visual_back" style='background-image: url("img/wave.jpg");'>
                    <div class="col-12 sub_dim"></div>
                    <div class="col-12 h-100 col-center mw-1200 pr15 pl15">
                        <div class="col-12 h-100 fn show-table">
                            <div class="col-12 fn show-tablecell vm tl">
                                <div class="col-12">
                                    <div class="col-12 sub_text pb10 pt30 bold">
                                        	수업 소개
                                    </div>
                                    <div class="col-12 sub_content">
                                        <span class="bold">건강해 지고 강해지다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 sub-content">
                    <div class="lnb">
                        <div class="lnb-title">
                            지점
                        </div>
                        <span th:th:if = "${branch} == 1">
                            <ul>
                                <li class="tab active branchAn">
                                    고대본점
                                </li>
                                <li class="tab branchHan">
                                    한양대점
                                </li>
                            </ul>
                        </span>

                        <span th:th:if = "${branch} == 2">
                            <ul>
                                <li class="tab branchAn">
                                    본점
                                </li>
                                <li class="tab active branchHan" >
                                    한양대점
                                </li>
                            </ul>
                        </span>
                    </div>

                    <div class="inner-content pr15 pl15 pr-sm-0 pl-sm-0">
                        <div class="col-12 title_font point_color mb30">
                            근력학교 수업 시간표
                        </div>

                        <div th:th:if = "${branch} == 1" class="col-12">
                            <div class="col-12 tab_con show hidden-sm">
                                <div class="col-6 tab active branchAn" >
                                    본점
                                </div>
                                <div class="col-6 tab branchHan" >
                                    한양대점
                                </div>
                            </div>
                        </div>

                        <div th:th:if = "${branch} == 2" class="col-12">
                            <div class="col-12 tab_con show hidden-sm">
                                <div class="col-6 tab branchAn">
                                    본점
                                </div>
                                <div class="col-6 tab active branchHan">
                                    한양대점
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <input type="hidden" name="dayList" id="dayList">
                            <input type="hidden" name="aliasList" id="aliasList">
                            <div class="col-12 inner_con second" id="second_con">

                                <span th:th:if = "${branch} == 1">
				<div class="col-12 form_con mb60">
				<div class="table_con">
					<table class="table_style1" id="courseTimeTable">
						<colgroup>
						</colgroup>
						<thead></thead>
						<tbody>

						<tr>
							<th>10:00 ~ 11:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 10">
	                       	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>

								   <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									   <span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								   </span>

								   <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									   <span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								   </span>
								   <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
							   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

							</td>
						</tr>

						<tr>
							<th>12:00 ~ 13:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 12">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>15:00 ~ 17:00</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 15">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>18:00 ~ 19:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 18">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>20:00 ~ 21:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 20">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>22:00 ~ 23:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 22">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
									 <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									 </span>
									 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									 </span>
									 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
			</span>
                                <span th:th:if = "${branch} == 2">
				<div class="col-12 form_con">
				<div class="table_con mb60">
					<table class="table_style1" id="courseTimeTable">
						<colgroup>
						</colgroup>
						<col width="20%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<col width="16%" />
						<thead></thead>
						<tbody>

						<tr>
							<th>09:00 ~ 10:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 9">

	                       	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>11:00 ~ 12:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 11">

								<span  th:if="${courseRegNumList.is_use_yn} == 1">
									<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								 	</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
								 	</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>14:00 ~ 15:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 14">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
									<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
										<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
									<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
									</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>

								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span><span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>16:00 ~ 17:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 16">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
								<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
																<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>18:00 ~ 19:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 18">
								<span  th:if="${courseRegNumList.is_use_yn} == 1">
								<span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
								<span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
	                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
	                       	 </span>
								<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
																<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>20:00 ~ 21:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 20">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>
								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>

						<tr>
							<th>22:00 ~ 23:30</th>
							<td th:each="courseRegNumList : ${courseNumList}" th:object="${courseNumList}"
                                th:if="${courseRegNumList.course_start_time} == 22">
	                    	   <span  th:if="${courseRegNumList.is_use_yn} == 1">
	                       	     <span th:text="${courseRegNumList.couse_time_name} + '교시' "></span>
		                       	 <span th:if="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span th:unless="${courseRegNumList.CURRENT_NUM} < ${courseRegNumList.max_people}">
		                       	 	<span class="un_use" th:text=" '(' + ${courseRegNumList.CURRENT_NUM} + '/' + ${courseRegNumList.max_people} + ')'"></span>
		                       	 </span>
		                       	 <span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
	                       	   </span>
								<span class="un_use"  th:unless="${courseRegNumList.is_use_yn} == 1">
									<span>강의 없음</span>
									<span class="alias_num hidden" th:text="${courseRegNumList.alias_number}"></span>
								</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
			</span>
                            </div>

                        </div>

                        <div class="col-12 price_con">
                            <div class="col-12 title_font point_color mb30">
                                근력학교 등록금
                            </div>
                            <div class="col-12 mb50">
                                <table class="table_style1">
                                    <colgroup>
                                        <col width="70%" />
                                        <col width="30%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>입학생필수 수강: 입학반 기초 클래스</td>
                                            <td><span class="point_color">8만원</span></td>
                                        </tr>
                                        <tr>
                                            <td>주1회 클래스</td>
                                            <td>1개월(4주) <span class="point_color">15만원</span></td>
                                        </tr>
                                        <tr>
                                            <td>주2회 클래스</td>
                                            <td>1개월(4주) <span class="point_color">25만원</span></td>
                                        </tr>
                                        <tr>
                                            <td>주3회 클래스</td>
                                            <td>1개월(4주) <span class="point_color">35만원</span></td>
                                        </tr>
                                        <tr>
                                            <td>주4회 클래스</td>
                                            <td>1개월(4주) <span class="point_color">45만원</span></td>
                                        </tr>
										<tr>
											<td colspan="2">
												※ 별도 1대1 수업 : 1회 1시간 수업당 10만원<br>
												※ 기초 클래스를 수강해야 다른 학생들과 비슷한 수준에서 수업에 참여 할 수 있습니다.<br>
												※ 기초 클래스는 평생 1회만 수강하시면 됩니다.
											</td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
							<div class="col-12">
								<table class="table_style1">
									<colgroup>
										<col width="50%" />
										<col width="50%" />
									</colgroup>
									<thead>
									<tr>
										<th style="height: 30px; font-size: 15px;">60분 특별 수업</th>
										<th style="height: 30px; font-size: 15px;">90분 특별 수업</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>주1회 클래스 1개월(4주) <span class="point_color">10만원</span></td>
										<td>주1회 클래스 1개월(4주) <span class="point_color">15만원</span></td>
									</tr>
									<tr>
										<td>주2회 클래스 1개월(4주) <span class="point_color">18만원</span></td>
										<td>주2회 클래스 1개월(4주) <span class="point_color">25만원</span></td>
									</tr>
									<tr>
										<td>주3회 클래스 1개월(4주) <span class="point_color">27만원</span></td>
										<td>주3회 클래스 1개월(4주) <span class="point_color">35만원</span></td>
									</tr>
									<tr>
										<td>주4회 클래스 1개월(4주) <span class="point_color">36만원</span></td>
										<td>주4회 클래스 1개월(4주) <span class="point_color">45만원</span></td>
									</tr>
									<tr>
										<td colspan="2">
											※ 특별 + 정규 혼합수업<br>
											※ 특별 등록금 + 정규등혹금 - 할인 10000원
										</td>
									</tr>
									</tbody>
								</table>
							</div>
                        </div>
                        <script>
                            $(".time_table_con.han").hide();
                            $(".tab").on("click",function () {
                                $(".tab").removeClass("active");
                                $(this).addClass("active");
                                if( $(this).hasClass("kor") ) {
                                    $(".time_table_con.kor").show();
                                    $(".time_table_con.han").hide();
                                } else {
                                    $(".time_table_con.han").show();
                                    $(".time_table_con.kor").hide();
                                }
                            })
                        </script>
                        <div class="col-12 how_to_con">
                            <div class="col-12 title_font point_color mb30">
                                    근력학교 이용방법
                            </div>

                            <div class="col-12">
                                <div class="content_con">
                                    ① 원하는 요일/교시를 고르시고<br>
                                    ② 주말 입학반 기초 클래스를 수료한 뒤<br>
                                    ③ 원하는 요일/교시에 등교하시면 됩니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <footer th:replace="common/footer"></footer>
        </div>
        <form id="reload">
            <input type="hidden" name="standardDate">
            <input type="hidden" th:value="${branch}" name="branch" id="branchVal">
        </form>

        <input id="todayString" type="hidden" th:value = "${today}">
    </body>


<script>
    $('[href="/intro_course"]').parent().addClass("active");
</script>

    <th:block>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var courseNumList = [[${courseNumList}]];
            /*]]>*/
            $(function(){
                $("#second_con").css("right","0%");
                var currentDay = $("#todayString").val();
                var setStartDate = today(currentDay);
                var setEndDate;
                //월요일일 떄
                if(setStartDate.getDay() == 1) {
                    setStartDate = today(currentDay);
                    setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
                    //일요일 일 때
                } else if(setStartDate.getDay() == 0 ) {
                    setStartDate = today(currentDay);
                    setStartDate.setDate(setStartDate.getDate() + 1);
                    setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
                    //그 외
                } else {
                    for(var i=1; i<7;i++) {
                        if( ( setStartDate.getDay() - i) == 1  ) {
                            setStartDate.setDate( (setStartDate.getDate()-i));
                            setEndDate = new Date(setStartDate.getFullYear(), setStartDate.getMonth(), setStartDate.getDate() + 4);
                        }
                    }
                }

                var theadTd = "";
                var theadTdTotal = "";
                for(var i=0;i<5;i++) {
                    var headDay = withDateNewForm(setStartDate);
                    headDay.setDate( (headDay.getDate() + i ) );
                    var kDay = korDay(headDay.getDay() );
                    var fullDay = dateForm(headDay);
                    if(fullDay == nowDay() ) {
                        theadTd = "<td class='today'>" + kDay +"(" + fullDay + ")</td>";
                        theadTdTotal = theadTdTotal + theadTd;
                    } else {
                        theadTd = "<td>" + kDay +"(" + fullDay + ")</td>";
                        theadTdTotal = theadTdTotal + theadTd;
                    }
                }
                theadTdTotal = "<tr><td>시간</td>" + theadTdTotal + "</tr>";
                $("#courseTimeTable thead").append(theadTdTotal);
                var week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
                $("#courseTimeTable thead").append();
                $("#today").text(week);

                $(".branchAn").on("click",function() {
                    $("#branchVal").val("1");
                    setStartDate.setDate(setStartDate.getDate()  );
                    setEndDate.setDate(setEndDate.getDate() );
                    week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
                    $("#reload").attr("action", "/intro_course");
                    $('[name="standardDate"]').val(dateForm(setStartDate));
                    $("#reload").submit();
                })

                $(".branchHan").on("click",function() {
                    $("#branchVal").val("2");
                    setStartDate.setDate(setStartDate.getDate()  );
                    setEndDate.setDate(setEndDate.getDate() );
                    week = dateForm(setStartDate) + "~" + dateForm(setEndDate);
                    $("#reload").attr("action", "/intro_course");
                    $('[name="standardDate"]').val(dateForm(setStartDate));
                    $("#reload").submit();
                })
            })
        </script>
    </th:block>
</html>